<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../finance/web/assets/js/Jquery.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
    <script>
        function watchVideo() {
            $(".videoCanvas").show();
            $(".video-mask").show();
        }

        $("#video-shut").click(function () {
            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        })

        $('.videoCanvas').mouseover(function (event) {
            $('.video-shut').show();
        })

        $('.videoCanvas').mouseout(function (event) {
            $('.video-shut').hide();
        })

        function close_video() {

            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        }
    </script>
</head>
<body>
    <!-- 视频 -->
    <div class="video-mask" id="video-mask"></div>
    <div class="videoCanvas" id="videoCanvas" style="display: none;">
    <span class="video-shut" id="video-shut" onclick="close_video()">
        <img src="static/img/close.png" style="width: 28px; height: 28px;" >
    </span>
        <video id="video" controls src="./static/video/bom.mp4" width="700" height="400"></video>
    </div>

    <div id="bom" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="5">
                        <el-input placeholder="物料编码" v-model="code" clearable></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-input placeholder="物料名称" v-model="name" clearable></el-input>
                    </el-col>
                    <el-col :span="5">
                        <el-input placeholder="物料类别" v-model="type" clearable></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button-group>
                            <el-button icon="el-icon-search" type="primary" @click="getList">查询</el-button>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getInitList"></el-button>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="addVisible = true"></el-button>
                            <el-button icon="el-icon-video-camera" type="primary" onclick="watchVideo()"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table :data="list" v-loading="loading" style="width: 100%;font-size:15px">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                :model="props.row"
                                :rules="rules"
                                ref="updateForm"
                                label-width="80px"
                            >
                                <el-form-item label="物料编码" prop="code">
                                    <el-input v-model="props.row.code" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="物料名称" prop="name">
                                    <el-input v-model="props.row.name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="类别" prop="type">
                                    <el-input v-model="props.row.type" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="规格" prop="norms">
                                    <el-input v-model="props.row.norms" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="描述" prop="comment">
                                    <el-input v-model="props.row.comment" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="大小" prop="size">
                                    <el-input v-model.number="props.row.size" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="单位" prop="unit">
                                    <el-input v-model="props.row.unit" style="width: 220px"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-button 
                                type="primary" 
                                icon="el-icon-upload"
                                :loading="updateLoading"
                                @click="updateBom('updateForm')"
                            >保存</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="code" label="物料编码" sortable></el-table-column>
                    <el-table-column prop="name" label="物料名称" sortable></el-table-column>
                    <el-table-column prop="type" label="类别" sortable></el-table-column>
                    <el-table-column prop="norms" label="规格" sortable></el-table-column>
                    <el-table-column prop="comment" label="描述" sortable></el-table-column>
                    <el-table-column prop="size" label="大小" sortable></el-table-column>
                    <el-table-column prop="unit" label="单位" sortable></el-table-column>
                    <el-table-column prop="useNum" label="使用数量" sortable></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm title="物料可能正在使用，确定删除吗？" @confirm="deleteBom(scope.row.id)" hide-icon>
                                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination 
                    background
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getList"
                    style="margin-top: 10px"
                ></el-pagination>
            </el-main>
        </el-container>

        <el-drawer
            title="新增物料"
            :visible.sync="addVisible"
            direction="ltr"
            :modal="false"
            size="70%"
            ref="addDrawer"
            v-loading="saveLoading"
        >
            <el-form
                :model="bom"
                :rules="rules"
                ref="addForm"
                label-width="100px"
            >
                <el-form-item label="物料编码" prop="code">
                    <el-input v-model="bom.code"></el-input>
                </el-form-item>
                <el-form-item label="物料名称" prop="name">
                    <el-input v-model="bom.name"></el-input>
                </el-form-item>
                <el-form-item label="类别" prop="type">
                    <el-input v-model="bom.type"></el-input>
                </el-form-item>
                <el-form-item label="规格" prop="norms">
                    <el-input v-model="bom.norms"></el-input>
                </el-form-item>
                <el-form-item label="描述" prop="comment">
                    <el-input v-model="bom.comment"></el-input>
                </el-form-item>
                <el-form-item label="大小" prop="size">
                    <el-input v-model.number="bom.size"></el-input>
                </el-form-item>
                <el-form-item label="单位" prop="unit">
                    <el-input v-model="bom.unit"></el-input>
                </el-form-item>
            </el-form>
            <el-button 
                type="primary" 
                icon="el-icon-upload"
                @click="addBom('addForm')"
            >保存</el-button>
        </el-drawer>
    </div>

    

    <script>
        new Vue({
            el: '#bom',
            data: {
                videoSrc: "",
                videoState: false,
                now: 1,
                size: 20,
                total: 0,
                code: '',
                name: '',
                type: '',
                loading: false,
                list: [],

                rules: {
                    code: [
                        { required: true, message: '物料编码不能为空', trigger: 'blur' }
                    ],
                    name: [
                        { required: true, message: '物料名称不能为空', trigger: 'blur' }
                    ],
                    type: [
                        { required: true, message: '类别不能为空', trigger: 'blur' }
                    ],
                    size: [
                        { required: true, message: '大小不能为空', trigger: 'blur' },
                        { type: 'number', message: '大小必须为数字值' }
                    ]
                },
                updateLoading: false,

                addVisible: false,
                bom: {},
                saveLoading: false
            },
            methods: {
                getList: function () {
                    var _this = this;
                    _this.loading = true;
                    axios.post(myUrl('bom/page'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                        code: _this.code,
                        name: _this.name,
                        type: _this.type
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total;
                            _this.list = res.data.pageList
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },
                getInitList: function () {
                    this.code = '';
                    this.name = '';
                    this.type = '';
                    this.getList();
                },
                updateBom: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.updateLoading = true;
                            axios.post(myUrl('bom/update'), {
                                bomInfo: _this.$refs[formName].model
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getList();
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.updateLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.updateLoading = false;
                            })
                        }
                    })
                },
                deleteBom: function (id) {
                    var _this = this;
                    _this.loading = true;
                    axios.post(myUrl('bom/delete'), {
                        id: id
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            _this.getList();
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },
                addBom: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.saveLoading = true;
                            axios.post(myUrl('bom/save'), {
                                bomInfo: _this.bom
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getList();
                                    _this.$refs.addDrawer.closeDrawer();
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.saveLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.saveLoading = false;
                            })
                        }
                    })
                }
            },
            mounted: function () {
                this.getList();
            }
        })

        
    </script>

    <style>
        .el-form
        {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;

        }
        .el-form-item
        {
            margin-right: 10px
        }
        /* 视频播放 */
        .video-mask {
          position: fixed;
          z-index: 9999;
          background: rgba(33, 33, 33, .8);
          top: 0;
          width: 100%;
          height: 100%;
          display: none;
        }

        .videoCanvas {
          position: fixed;
          z-index: 10000;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: none;
        }

        .video-shut {
          position: absolute;
          height: 32px;
          width: 32px;
          margin: 10px 10px 0 0;
          right: 0px;
          text-align: center;
          display: block;
          z-index: 9999;
          cursor: pointer;
          /*display: none;*/
        }


    </style>
</body>
</html>
