<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="static/css/main.css" rel="stylesheet" />
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="app" style="display: none;" :style="{display: 'block'}">
        <el-menu mode="horizontal" background-color="#314057" text-color="#fff" active-text-color="#fff">
            <div class="menu-box" @click="collapse = !collapse">
                <i v-if="collapse" class="el-icon-s-unfold"></i>
                <i v-else="collapse" class="el-icon-s-fold"></i>
            </div>
            <span class="header-title">云合排产管理系统</span>
            <el-dropdown trigger="hover" class="dropdown" @command="handleDropdown">
                <!--<span class="el-dropdown-link" v-model="username">
                    
                </span>-->
                <!--<el-input placeholder="订单号" v-model="username" clearable style=""></el-input>-->
                <span class="el-dropdown-link">
                    我的
                    <i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="updatePwd"><span v-text="username"></span></el-dropdown-item>
                <el-dropdown-item ><span v-text="department"></span></el-dropdown-item>
                <el-dropdown-item command="exit">退出登录</el-dropdown-item>

                </el-dropdown-menu>
            </el-dropdown>
        </el-menu>
        
        <el-container ref="container">
            <div ref="aside" :class="asideClass">
                <el-menu :collapse="collapse" @select="handleSelect" background-color="#fff" active-text-color="#409EFF">
                    <el-submenu index="配置">
                        <template slot="title">
                            <i class="el-icon-setting"></i>
                            <span>配置</span>
                        </template>
                        <el-menu-item index="模块单位" data-src="module.html">模块单位</el-menu-item>
                        <el-menu-item index="工作时间及休息日" data-src="time.html">工作时间及休息日</el-menu-item>
                        <el-menu-item index="BOM" data-src="bom.html">BOM</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="订单" data-src="order.html">
                        <i class="el-icon-s-order"></i>
                        <span slot="title">订单</span>
                    </el-menu-item>
                    <el-menu-item index="排产" data-src="work.html">
                        <i class="el-icon-date"></i>
                        <span slot="title">排产</span>
                    </el-menu-item>
                    <el-menu-item index="排产核对" data-src="check.html">
                        <i class="el-icon-date"></i>
                        <span slot="title">排产核对</span>
                    </el-menu-item>
                    <el-menu-item index="汇总" data-src="summary.html">
                        <i class="el-icon-document"></i>
                        <span slot="title">汇总</span>
                    </el-menu-item>
                    <el-menu-item index="部门" data-src="department_new.html">
                        <i class="el-icon-office-building"></i>
                        <span slot="title">部门</span>
                    </el-menu-item>
                    <el-menu-item index="人员信息" data-src="paibanbiao_renyuan.html">
                        <i class="el-icon-user-solid"></i>
                        <span slot="title">人员信息</span>
                    </el-menu-item>
                    <el-menu-item index="排班" data-src="paiban.html">
                        <i class="el-icon-s-marketing"></i>
                        <span slot="title">排班</span>
                    </el-menu-item>
                    <el-menu-item index="排班明细" data-src="paiban_detail.html">
                        <i class="el-icon-s-management"></i>
                        <span slot="title">排班明细</span>
                    </el-menu-item>
                    <el-menu-item index="账号管理" data-src="userInfo.html">
                        <i class="el-icon-s-management"></i>
                        <span slot="title">账号管理</span>
                    </el-menu-item>
                </el-menu>
            </div>
            <el-main class="main">
                <el-breadcrumb separator="/" class="breadcrumb">
                    <el-breadcrumb-item style="color: #409EFF;" v-for="(item, index) in breadcrumbs">{{item}}</el-breadcrumb-item>
                </el-breadcrumb>
                <iframe class="iframe" :src="iframeSrc"></iframe>
            </el-main>
        </el-container>

        <el-dialog title="修改密码" :visible.sync="updateFormVisisble">
            <el-form :model="updPwdForm" :rules="updPwdRules">
                <el-form-item label="旧密码" prop="oldPwd">
                    <el-input v-model="updPwdForm.oldPwd" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPwd">
                    <el-input v-model="updPwdForm.newPwd" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="updateFormVisisble = false">取 消</el-button>
                <el-button type="primary" @click="updatePwd">确 定</el-button>
            </div>
        </el-dialog>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                collapse: false,
                breadcrumbs: [],

                username:'',
                department: '',

                iframeSrc: '',
                updateFormVisisble: false,
                updPwdForm: {},
                updPwdRules: {
                    oldPwd: [{ required: true, message: '旧密码不能为空', trigger: 'blur' }],
                    newPwd: [{ required: true, message: '新密码不能为空', trigger: 'blur' }],
                },
                updatePwdLoading: false
            },
            methods: {
                getUsername: function () {
                    var _this = this;
                    axios.post(myUrl('user/getUsername'), {

                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.username = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }

                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });

                    })

                },
                getDepartment: function () {
                    var _this = this;
                    axios.post(myUrl('user/getDepartment'), {

                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.department = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }

                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });

                    })

                },
                handleSelect: function (index, path, el) {
                    var this_ = this;
                    this_.breadcrumbs = path;
                    this_.iframeSrc = el.$el.dataset.src;
                },
                windowResize: function () {
                    this.$refs.container.$el.style.height = document.documentElement.clientHeight - 71 + 'px';
                },
                switchMenu: function () {
                    this.$refs.aside.classList[1] = !this.collapse ? 'aside-open' : 'aside-close';
                    this.collapse = !this.collapse;
                },

                handleDropdown: function (command) {
                    switch (command) {
                        case 'updatePwd':
                            this.updateFormVisisble = true;
                            break;
                        case 'exit':
                            window.location.href = '/'
                            break;
                    }
                },

                updatePwd: function () {
                    var _this = this;
                    _this.updatePwdLoading = true;
                    axios.post(myUrl('user/updatePwd'), {
                        oldPwd: _this.updPwdForm.oldPwd,
                        newPwd: _this.updPwdForm.newPwd
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                message: '请重新登录',
                                type: 'success'
                            });
                            window.location.href = '/'
                        } else if (res.code == -1) {
                            _this.$notify({
                                title: res.msg,
                                type: 'warning'
                            });
                        } else {
                            _this.$notify.error({
                                title: err.msg
                            });
                        }
                        _this.updatePwdLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.updatePwdLoading = false;
                    })
                }
            },
            

            computed: {
                asideClass: function () {
                    return 'aside ' + (!this.collapse ? 'aside-open' : 'aside-close');
                }
            },
            mounted: function () {
                var this_ = this;
                this_.windowResize();
                window.onresize = function () {
                    this_.windowResize();
                }
                this_.getUsername();
                this_.getDepartment();

            }
        })
    </script>

    <style>
        body
        {
            margin: 0;
        }
        .menu-box
        {
            float: left;
            height: 70px;
            padding: 0px 22px;
            line-height: 70px;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            transition: .3s;
        }
            .menu-box:hover
            {
                background-color: #263244;
            }

        .header-title
        {
            float: left;
            font-size: 18px;
            color: #fff;
            outline: 0 none;
            cursor: pointer;
            height: 70px;
            line-height: 70px;
            padding: 0 20px;
            margin-right: 40px;
            font-weight: 500;
        }
        .main
        {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            background-color: #E5E9F2;
        }

        .iframe
        {
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            flex: 1;
            flex-basis: auto;
            -webkit-box-flex: 1;
        }

        .breadcrumb
        {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #f2f2f2;
        }
        .el-menu--horizontal>.el-submenu .el-submenu__title
        {
            height: 70px;
            line-height: 70px;
        }
        .aside
        {
            transition: .3s;
        }
        .aside-open
        {
            width: 250px;
        }
        .aside-close
        {
            width: 64px;
        }
        .aside > .el-menu
        {
            height: 100%;
        }

        .dropdown
        {
            float: right;
            line-height: 20px;
            margin-top: 25px;
            margin-right: 30px;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
        }
    </style>
</body>
</html>
