<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="static/css/main.css">
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="module">
        <el-container>
            <el-main>
                <!-- 模块类别-->
                <el-card shadow="always" v-loading="moduleTypeLoading">
                    <div slot="header">
                        <span>模块类别</span>
                    </div>
                    <el-tag 
                        class="module-type-tag" 
                        :key="moduleType.id" 
                        v-for="(moduleType, index) in moduleTypeList" 
                        closable 
                        @close="moduleTypeDelete(index)"
                    >{{moduleType.name}}</el-tag>
                    <el-tag class="new-module-type-tag" effect="plain" @click="openModuleTypeBox">添加</el-tag>
                </el-card>

                <!-- 模块管理-->
                <el-card shadow="always" style="margin-top: 20px">
                    <div slot="header">
                        <span>模块管理</span>
                    </div>
                    <el-row type="flex" justify="start" align="middle">
                        <el-col :span="6">
                            <el-button-group>
                                <el-button size="medium" icon="el-icon-circle-plus-outline" type="primary" @click="addModuleDrawerVisible = true"></el-button>
                                <el-button size="medium" icon="el-icon-refresh" type="primary" @click="getModulePage"></el-button>
                                <el-button 
                                    size="medium" 
                                    icon="el-icon-printer" 
                                    type="primary" 
                                    @click="toExcel"></el-button>
                            </el-button-group>
                        </el-col>
                        <el-col :span="6">
                            <el-select 
                                v-model="selectModuleType.name" 
                                @change="selectModuleTypeChange" 
                                clearable 
                                placeholder="查询类别"
                            >
                                <el-option 
                                    v-for="moduleType in moduleTypeList" 
                                    :key="moduleType.id" 
                                    :label="moduleType.name" 
                                    :value="moduleType.id"
                                ></el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                    <el-table 
                        :data="modulePage.pageList" 
                        v-loading="moduleLoading"  
                        style="width: 100%;margin-top: 10px;"
                    >
                        
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form 
                                    :model="props.row" 
                                    :rules="moduleRules"
                                    ref="moduleUpdateForm"
                                    label-width="100px"
                                    label-position="left"
                                >
                                    <el-form-item label="模块类别" prop="type_id">
                                        <el-select v-model="props.row.type_id" placeholder="请选择模块类别">
                                            <el-option 
                                                v-for="moduleType in moduleTypeList" 
                                                :key="moduleType.id" 
                                                :label="moduleType.name" 
                                                :value="moduleType.id"
                                            ></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="名称" prop="name">
                                        <el-input v-model="props.row.name" placeholder="请输入名称" style="width: 300px"></el-input>
                                    </el-form-item>
                                    <el-form-item label="效率" prop="num">
                                        <el-input v-model.number="props.row.num" style="width: 250px"></el-input>
                                    </el-form-item>
                                    <el-form-item label="父模块" prop="parent_id">
                                        <el-select v-model="props.row.parent_id" filterable clearable>
                                            <el-option 
                                                v-for="module in moduleList" 
                                                :key="module.id" 
                                                :label="module.name" 
                                                :value="module.id"
                                            ></el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" style="width: 100px" @click="updateModule('moduleUpdateForm')">保存</el-button>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>
                        
                        <el-table-column prop="type_id" label="模块类别" sortable :formatter="moduleTypeFormatter"></el-table-column>
                        <el-table-column prop="name" label="名称" sortable></el-table-column>
                        <el-table-column prop="num" label="效率/时" sortable></el-table-column>
                        <el-table-column prop="parent_id" label="父模块" sortable :formatter="moduleParentFormatter"></el-table-column>
                        <el-table-column
                            fixed="right"
                            label="操作"
                            width="120"
                        >
                            <template slot-scope="scope">
                                <el-popconfirm title="确定删除吗？" @confirm="deleteModule(scope.row.id)" hide-icon>
                                    <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                                </el-popconfirm>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination 
                        background 
                        layout="prev, pager, next" 
                        :current-page.sync="modulePage.nowPage"
                        :total="modulePage.total"
                        :page-size="modulePage.pageCount"
                        :hide-on-single-page="modulePage.total <= modulePage.pageCount" 
                        @current-change="getModulePage"
                        style="margin-top: 10px"
                    ></el-pagination>
                </el-card>
            </el-main>
        </el-container>

        <el-drawer
            title="新增模块单位"
            :visible.sync="addModuleDrawerVisible"
            direction="ltr"
            :modal="false"
            size="50%"
            ref="moduleDrawer"
        >
            <el-form 
                :model="module" 
                :rules="moduleRules"
                ref="moduleAddForm"
                label-width="100px"
                label-position="left"
            >
                <el-form-item label="模块类别" prop="type_id">
                    <el-select v-model="module.type_id" placeholder="请选择模块类别">
                        <el-option 
                            v-for="moduleType in moduleTypeList" 
                            :key="moduleType.id" 
                            :label="moduleType.name" 
                            :value="moduleType.id"
                        ></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="名称" prop="name">
                    <el-input v-model="module.name" placeholder="请输入名称" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item label="效率" prop="num">
                    <el-input v-model.number="module.num" style="width: 250px"></el-input>
                </el-form-item>
                <el-form-item label="父模块" prop="parent_id">
                    <el-select v-model="module.parent_id" filterable clearable>
                        <el-option 
                            v-for="module in modulePage.pageList" 
                            :key="module.id" 
                            :label="module.name" 
                            :value="module.id"
                        ></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" style="width: 100px" @click="addModule('moduleAddForm')">保存</el-button>
                </el-form-item>
            </el-form>
        </el-drawer>

        <el-backtop target="html" :bottom="100" :right="40"></el-backtop>
    </div>

    <script>
        new Vue({
            el: '#module',
            data: {
                moduleTypeLoading: false,
                moduleTypeList: [],

                selectModuleType: {
                    id: -1,
                    name: ''
                },

                moduleList: [],

                moduleLoading: false,
                modulePage: {
                    nowPage: 1,
                    pageCount: 20,
                    pageList: [],
                    total: 0
                },

                moduleRules: {
                    type_id: [
                        { required: true, message: '模块类别不能为空', trigger: 'change' }
                    ],
                    name: [
                        { required: true, message: '名称不能为空', trigger: 'blur' }
                    ],
                    num: [
                        { type: 'number', message: '效率必须为数字值' }
                    ]
                },

                addModuleDrawerVisible: false,
                module: {}
            },
            methods: {
                getModuleTypeList: function () {
                    var _this = this;
                    _this.moduleTypeLoading = true;
                    _this.moduleTypeList = [];
                    axios.post(myUrl('moduleType/list'), {}).then(function (res) {
                        if (res.code == 200) {
                            if (res.data != undefined) _this.moduleTypeList = res.data;
                            _this.moduleTypeLoading = false;
                        }
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },
                moduleTypeDelete: function (index) {
                    var _this = this
                    _this.moduleTypeLoading = true;
                    axios.post(myUrl('moduleType/delete'), {
                        id: _this.moduleTypeList[index].id
                    }).then(function (res) {
                        if (res.code == 200) {
                            if (_this.moduleTypeList[index].id == _this.selectModuleType.id) {
                                _this.selectModuleType.name = ''
                                _this.selectModuleType.id = -1
                            }
                            _this.moduleTypeList.splice(index, 1);
                            _this.moduleTypeLoading = false;
                            _this.getModulePage();
                        }
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.moduleTypeLoading = false;
                    })
                },
                openModuleTypeBox: function () {
                    var _this = this;
                    _this.$prompt('请输入模块类别名称', '添加模块类别', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValidator: function (value) {
                            if (value == '') {
                                return '名称不能为空';
                            } else {
                                var isHas = false
                                for (var i = 0; i < _this.moduleTypeList.length; i++) {
                                    if (_this.moduleTypeList[i].name == value) {
                                        isHas = true;
                                    }
                                }
                                if (isHas) {
                                    return '名称重复';
                                }
                            }
                        }
                    }).then(function (result) {
                        _this.moduleTypeLoading = true;
                        var newModuleType = {
                            id: -1,
                            name: result.value,
                            company: ''
                        }
                        axios.post(myUrl('moduleType/add'), {
                            moduleType: newModuleType
                        }).then(function (res) {
                            if (res.code == 200) {
                                _this.moduleTypeList.push(res.data);
                                _this.moduleTypeLoading = false
                            }
                        }).catch(function (err) {
                            _this.$notify.error({
                                title: err.msg
                            });
                            _this.moduleTypeLoading = false
                        })
                    })
                },

                getModuleList: function(){
                    var _this = this;
                    _this.moduleLoading = true;
                    axios.post(myUrl('module/list'), {}).then(function (res) {
                        _this.moduleList = res.data;
                        _this.moduleLoading = false;
                    })
                },

                getModulePage: function () {
                    var _this = this;
                    _this.moduleLoading = true;
                    axios.post(myUrl('module/page'), {
                        modulePage: {
                            nowPage: _this.modulePage.nowPage,
                            pageCount: _this.modulePage.pageCount,
                            pageList: [],
                            total: 0
                        },
                        moduleType: _this.selectModuleType.id
                    }).then(function (res) {
                        _this.modulePage = res.data;
                        _this.moduleLoading = false;
                    })
                },
                selectModuleTypeChange: function (moduleType) {
                    this.selectModuleType.id = moduleType == '' ? -1 : moduleType;
                    this.getModulePage();
                },
                moduleTypeFormatter: function (row, column, cellValue, index) {
                    var moduleType = this.moduleTypeList.find(moduleType => moduleType.id == cellValue)
                    if(moduleType != undefined) return moduleType.name;
                },
                moduleParentFormatter: function (row, column, cellValue, index) {
                    if(cellValue != null){
                        var module = this.moduleList.find(module => module.id == cellValue)
                        if(module != undefined) return module.name;
                    }
                },
                addModule: function(formName){
                    var _this = this;
                    _this.$refs[formName].validate(function(valid){
                        console.log(valid)
                        if(valid){
                            _this.moduleLoading = true;
                            axios.post(myUrl('module/save'),{
                                moduleInfo: _this.$refs[formName].model
                            }).then(function(res){
                                if(res.code == 200){
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getModulePage();
                                    _this.$refs.moduleDrawer.closeDrawer();
                                }
                                _this.moduleLoading = false;
                            }).catch(function(err){
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.moduleLoading = false;
                            })
                        }else{
                            return false;
                        }
                    })
                },
                updateModule: function(formName){
                    var _this = this;
                    _this.$refs[formName].validate(function(valid){
                        if(valid){
                            _this.moduleLoading = true;
                            axios.post(myUrl('module/update'),{
                                moduleInfo: _this.$refs[formName].model
                            }).then(function(res){
                                if(res.code == 200){
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                }
                                _this.moduleLoading = false;
                            }).catch(function(err){
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.moduleLoading = false;
                            })
                        }else{
                            return false;
                        }
                    })
                },
                deleteModule: function(id){
                    var _this = this;
                    axios.post(myUrl('module/delete'),{
                        id: id
                    }).then(function(res){
                        if(res.code == 200){
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            if(_this.modulePage.pageList.length == 1){
                                _this.modulePage.nowPage--;
                            }
                            _this.getModulePage();
                        }
                        _this.moduleLoading = false;
                    }).catch(function(err){
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.moduleLoading = false;
                    })
                },
                toExcel: function(){
                    var columns = {
                        type_id: '模块类别',
                        name: '名称',
                        num: '效率',
                        parent_id: '父模块'
                    }
                    exportExcel(this.modulePage.pageList, columns, '模块管理');
                }
            },
            mounted: function () {
                this.getModuleList();
                this.getModulePage();
                this.getModuleTypeList();
            }
        })
    </script>

    <style>
        .module-type-tag
        {
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .new-module-type-tag
        {
            user-select: none;
            cursor: pointer;
        }
    </style>
</body>
</html>
