<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../finance/web/assets/js/Jquery.js"></script>
    <link href="static/element/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/main.css">

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
    <script>
        function watchVideo() {
            $(".videoCanvas").show();
            $(".video-mask").show();
        }

        $("#video-shut").click(function () {
            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        })

        $('.videoCanvas').mouseover(function (event) {
            $('.video-shut').show();
        })

        $('.videoCanvas').mouseout(function (event) {
            $('.video-shut').hide();
        })

        function close_video() {

            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        }
    </script>
    <style>
        /* 视频播放 */
        .video-mask {
          position: fixed;
          z-index: 9999;
          background: rgba(33, 33, 33, .8);
          top: 0;
          width: 100%;
          height: 100%;
          display: none;
        }

        .videoCanvas {
          position: fixed;
          z-index: 10000;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: none;
        }

        .video-shut {
          position: absolute;
          height: 32px;
          width: 32px;
          margin: 10px 10px 0 0;
          right: 0px;
          text-align: center;
          display: block;
          z-index: 9999;
          cursor: pointer;
          /*display: none;*/
        }
        .el-table {
            /*position: absolute;*/
            min-width: 1300px;
            overflow: auto;
        }
    </style>
</head>
<body>
    <!-- 视频 -->
    <div class="video-mask" id="video-mask"></div>
    <div class="videoCanvas" id="videoCanvas" style="display: none;">
    <span class="video-shut" id="video-shut" onclick="close_video()">
        <img src="static/img/close.png" style="width: 28px; height: 28px;" >
    </span>
        <video id="video" controls src="static/video/排班及排班明细.mp4" width="700" height="400"></video>
    </div>

    <div id="paiban_detail" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main style="position: relative;overflow: auto;height:453px">
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="6">
                        <el-input v-model="staff_name" placeholder="查询姓名" clearable></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model="banci" placeholder="查询班次" clearable></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button-group style="width:600px">
                            <el-button icon="el-icon-search" type="primary" :disabled="loading" @click="getList('查询')">查询</el-button>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getList('刷新')">刷新</el-button>
                            <el-button  icon="el-icon-printer" type="primary" @click="toExcel">导出</el-button>
                            <el-button icon="el-icon-video-camera" type="primary" onclick="watchVideo()"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table
                    :data="detailList"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;font-size:15px"
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                :model="props.row"
                                ref="updateForm"
                                label-width="80px"
                            >
                                <el-form-item label="姓名" prop="staff_name">
                                    <el-input v-model="props.row.staff_name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="电话" prop="phone_number">
                                    <el-input v-model="props.row.phone_number" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="身份证号" prop="id_number">
                                    <el-input v-model="props.row.id_number" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="部门" prop="department_name">
                                    <el-input v-model="props.row.department_name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="班次" prop="b">
                                    <el-input v-model="props.row.b" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="日期" prop="c">
                                    <el-input v-model="props.row.c" style="width: 220px"></el-input>
                                </el-form-item>

                            </el-form>
                            <el-button 
                                type="primary" 
                                icon="el-icon-upload"
                                :loading="updateLoading"
                                @click="updateForm('updateForm')"
                            >保存</el-button>
                        </template>
                    </el-table-column>

                    <el-table-column prop="staff_name" label="姓名" sortable></el-table-column>
                    <el-table-column prop="phone_number" label="电话" sortable></el-table-column>
                    <el-table-column prop="id_number" label="身份证号" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门" sortable></el-table-column>
                    <el-table-column prop="b" label="班次" sortable></el-table-column>
                    <el-table-column prop="c" label="日期" sortable></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm title="确定删除吗？"  @confirm="deleteDetail(scope.row.id)" hide-icon>
                                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                </el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getList('刷新')"
                    style="margin-top: 10px"
                ></el-pagination>

            </el-main>
        </el-container>

    </div>
    <script>
        new Vue({
            el: '#paiban_detail',
            data: {
                now: 1,
                size: 20,
                total: 0,
                list: [],
                detailList:[],
                addVisible: false,
                loading: false,
                addLoading:false,
                updateLoading:false,
                planName: '',
                banci: '',
                staff_name:'',
                
            },
            methods: {
                toExcel: function () {
                    var columns = {
                        staff_name: '姓名',
                        phone_number: '电话',
                        id_number: '身份证号',
                        department_name: '部门',
                        b: '班次',
                        c: '日期',
                    }
                    exportExcel(this.detailList, columns, '排班明细');
                },
                getList: function (type) {
                    var _this = this;
                    if (type == "刷新") {
                        _this.staff_name = "";
                        _this.banci = "";
                    }
                    _this.loading = true;
                    axios.post(myUrl('paibanDetail/getList'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                        staff_name: _this.staff_name,
                        banci:_this.banci,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total
                            _this.detailList = res.data.pageList
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },

                deleteDetail: function (id) {
                    var _this = this;
                    axios.post(myUrl('paibanDetail/delete'), {
                        id: id,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            _this.getList('刷新');
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },

                updateForm: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.updateLoading = true;
                            axios.post(myUrl('paibanDetail/update'), {
                                updateList: _this.$refs[formName].model
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getList('刷新');
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.updateLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.updateLoading = false;
                            })
                        }
                    })
                },



            },

            mounted: function () {
                this.getList('刷新');
            }
        })
    </script>
</body>
</html>
