<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="static/element/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/main.css">

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="paibanbiao_renyuan" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="8">
                        <el-button-group>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getList">刷新</el-button>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="addVisible = true">添加</el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table
                    :data="list"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;"
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                :model="props.row"
                                :rules="rules"
                                ref="updateForm"
                                label-width="80px"
                            >
                                <el-form-item label="姓名" prop="staff_name">
                                    <el-input v-model="props.row.staff_name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="电话" prop="phone_number">
                                    <el-input v-model="props.row.phone_number" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="身份证号" prop="id_number">
                                    <el-input v-model="props.row.id_number" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="部门名称" prop="department_name">
                                    <el-input v-model="props.row.department_name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="班次" prop="banci">
                                    <el-input v-model="props.row.banci" style="width: 220px"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-button 
                                type="primary" 
                                icon="el-icon-upload"
                                :loading="updateLoading"
                                @click="updateForm('updateForm')"
                            >保存</el-button>
                        </template>
                    </el-table-column>

                    <el-table-column prop="staff_name" label="姓名" sortable></el-table-column>
                    <el-table-column prop="phone_number" label="电话" sortable></el-table-column>
                    <el-table-column prop="id_number" label="身份证号" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门名称" sortable></el-table-column>
                    <el-table-column prop="banci" label="班次" sortable></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm title="确定删除吗？" @confirm="deleteRenyuan(scope.row.id)" hide-icon>
                                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getList"
                    style="margin-top: 10px"
                ></el-pagination>
            </el-main>
        </el-container>

         <el-drawer
            title="添加人员信息"
            :visible.sync="addVisible"
            direction="ltr"
            :modal="false"
            size="50%"
            ref="addDrawer"
             v-loading="addLoading"
        >
            <el-form
                :model="paibanbiao_renyuan"
                :rules="rules"
                ref="addForm"
               label-width="80px"
                label-position="left"
                status-icon
            >
                <el-form-item label="姓名" prop="staff_name">
                    <el-input v-model="paibanbiao_renyuan.staff_name" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item label="电话" prop="phone_number">
                    <el-input v-model="paibanbiao_renyuan.phone_number" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item label="身份证号" prop="id_number">
                    <el-input v-model="paibanbiao_renyuan.id_number" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item label="部门" prop="department_name" >
                    <el-input v-model="paibanbiao_renyuan.department_name" style="width: 300px"></el-input>
                </el-form-item>
                <el-form-item label="班次" prop="banci">
                    <el-input v-model="paibanbiao_renyuan.banci" style="width: 300px"></el-input>
                </el-form-item>
            </el-form>
            <el-button 
                type="primary" 
                icon="el-icon-upload"
                style="margin-left:100px"
                @click="addForm('addForm')"
            >保存</el-button>
        </el-drawer>
    </div>

    <script>
        new Vue({
            el: '#paibanbiao_renyuan',
            data: {
                now: 1,
                size: 20,
                total: 0,
                list: [],
                loading: false,
                updateLoading: false,
                addLoading: false,
                addVisible: false,


                paibanbiao_renyuan: {},
                rules: {
                    staff_name: [
                        { required: true, message: '姓名不能为空', trigger: 'blur' }
                    ],
                    phone_bumber: [
                        { required: true, message: '电话不能为空', trigger: 'blur' }
                    ],
                },
            },
            methods: {
                getList: function () {
                    var _this = this;
                    _this.loading = true;
                    axios.post(myUrl('renyuan/getList'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total
                            _this.list = res.data.pageList
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },
                
                addForm: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.loading = true;
                            axios.post(myUrl('renyuan/add'), {
                                renyuanList: _this.$refs[formName].model
                            }).then(function (res) {
                                if (res.code == 200) {
                                    // _this.total = res.data.total
                                    // _this.list = res.data.pageList
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.deptVisible = false,
                                    _this.getList();
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.loading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.loading = false;
                            })
                        }
                    })
                },

                deleteRenyuan: function (id) {
                    var _this = this;
                    axios.post(myUrl('renyuan/delete'), {
                        id: id,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            _this.getList();
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },

                updateForm: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.updateLoading = true;
                            axios.post(myUrl('renyuan/update'), {
                                renyuanList: _this.$refs[formName].model
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getList();
                                    // _this.$refs.addDrawer.closeDrawer();
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.updateLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.updateLoading = false;
                            })
                        }
                    })
                },




            },

            mounted: function () {
                this.getList();
            }
        })
    </script>
</body>


</html>
