<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../finance/web/assets/js/Jquery.js"></script>
    <link href="static/element/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/main.css">

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
    <script>
        function watchVideo() {
            $(".videoCanvas").show();
            $(".video-mask").show();
        }

        $("#video-shut").click(function () {
            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        })

        $('.videoCanvas').mouseover(function (event) {
            $('.video-shut').show();
        })

        $('.videoCanvas').mouseout(function (event) {
            $('.video-shut').hide();
        })

        function close_video() {

            $("#video").trigger("pause");
            $(".videoCanvas").hide();
            $(".video-mask").hide();
        }
    </script>
    <style>
        /* 视频播放 */
        .video-mask {
          position: fixed;
          z-index: 9999;
          background: rgba(33, 33, 33, .8);
          top: 0;
          width: 100%;
          height: 100%;
          display: none;
        }

        .videoCanvas {
          position: fixed;
          z-index: 10000;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: none;
        }

        .video-shut {
          position: absolute;
          height: 32px;
          width: 32px;
          margin: 10px 10px 0 0;
          right: 0px;
          text-align: center;
          display: block;
          z-index: 9999;
          cursor: pointer;
          /*display: none;*/
        }
    </style>
</head>
<body>
    <!-- 视频 -->
    <div class="video-mask" id="video-mask"></div>
    <div class="videoCanvas" id="videoCanvas" style="display: none;">
    <span class="video-shut" id="video-shut" onclick="close_video()">
        <img src="static/img/close.png" style="width: 28px; height: 28px;" >
    </span>
        <video id="video" controls src="./static/video/排班及排班明细.mp4" width="700" height="400"></video>
    </div>

    <div id="paiban" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="6">
                        <el-input v-model="department_name" placeholder="查询部门" clearable></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model="plan_name" placeholder="查询计划名称" clearable></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button-group>
                            <el-button icon="el-icon-search" type="primary" :disabled="loading" @click="getInfoList('查询')">查询</el-button>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getInfoList('刷新')">刷新</el-button>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="openAddForm">添加</el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="20">
                        <el-button-group>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="paiban1Open">不轮换排班</el-button>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="paiban2Open">轮换排班</el-button>
                            <el-button icon="el-icon-video-camera" type="primary" onclick="watchVideo()"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table
                    :data="infoList"
                    v-loading="loading"
                    style="width: 100%;margin-top: 10px;font-size:15px"
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                :model="props.row"
                                ref="updateForm"
                                label-width="120px"
                            >
                                <el-form-item label="创建日期" prop="riqi">
                                    <el-input v-model="props.row.riqi" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="计划名称" prop="plan_name">
                                    <el-input v-model="props.row.plan_name" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="人数" prop="renshu">
                                    <el-input v-model="props.row.renshu" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="部门" prop="department_name">
                                    <el-input v-model="props.row.department_name" style="width: 220px"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-button 
                                type="primary" 
                                icon="el-icon-upload"
                                :loading="updateLoading"
                                @click="updateForm('updateForm')"
                            >保存</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column prop="riqi" label="创建日期" sortable></el-table-column>
                    <el-table-column prop="plan_name" label="计划名称" sortable></el-table-column>
                    <el-table-column prop="renshu" label="人数" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门" sortable></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm title="确定删除吗？"  @confirm="deleteInfo(scope.row.id,scope.row.remarks2)" hide-icon>
                                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                </el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getInfoList('刷新')"
                    style="margin-top: 10px"
                ></el-pagination>

            </el-main>
        </el-container>

        <el-drawer
            title="添加排班计划"
            :visible.sync="addVisible"
            direction="ltr"
            :modal="false"
            size="80%"
            ref="addDrawer"
             v-loading="addLoading"
        >
            <el-form
                :model="work"
                ref="addForm"
               label-width="120px"
                label-position="left"
                status-icon
            >
                    <!-- <div style="float:left">-->
                      <el-form-item label="开始日期" prop="startDate"  >
                              <el-date-picker 
                            v-model="startDate" 
                            type="date" 
                            placeholder="开始日期" 
                            value-format="yyyy-MM-dd" 
                            style="width: 150px ;float:left"
                            >
                        </el-date-picker>
                        
                        <el-form-item label="结束日期" prop="startDate"  >
                        <el-date-picker 
                            v-model="endDate" 
                            type="date" 
                            placeholder="结束日期" 
                            value-format="yyyy-MM-dd" 
                             style="width: 150px ;float:left"
                            >
                        </el-date-picker>
                        </el-form-item>

                        </el-form-item>
                   
                    <!--</div>-->
                     

                   <!--<div style="float:left">-->
                <el-form-item label="部门" prop="department_name">
                    <el-select 
                        v-model="work.department_name" 
                        filterable 
                        placeholder="请选择部门" 
                        :loading="orderLoading"
                        @change="departmentChange"
                        style="width: 150px"
                    >
                        <el-option 
                            v-for="order in orderList" 
                            :key="order.department_name" 
                            :label="order.department_name" 
                            :value="order.department_name"
                        >

                        </el-option>
                    </el-select>               
                </el-form-item>
                <el-form-item label="分班次" prop="banci">
                    <el-select v-model="banci" style="width: 150px ;float:left">
                        <el-option v-for="banci in banciOptions"
                            :label="banci.text"
                            :key="banci.value"
                            :value="banci.value"
                        ></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="周末分组" prop="meizu_part">
                    <el-input placeholder="周末分组" style="width: 150px" type="number" v-model="meizu_part"></el-input>
                </el-form-item>
                <el-form-item label="轮换天数" prop="lunhuanjiangetianshu">
                    <el-input placeholder="轮换天数" style="width: 150px" type="number" v-model="lunhuanjiangetianshu"></el-input>
                </el-form-item>
                <el-form-item label="计划名称" prop="plan_name">
                    <el-input placeholder="计划名称" style="width: 150px" type="text" v-model="planName"></el-input>
                </el-form-item>

                <el-table
                    ref="check"
                    :data="list"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;"
                >
                    
                    <el-table-column prop="staff_name" label="姓名" sortable></el-table-column>
                    <el-table-column prop="phone_number" label="电话" sortable></el-table-column>
                    <el-table-column prop="id_number" label="身份证号" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门名称" sortable></el-table-column>
                    <el-table-column prop="banci" label="班次" sortable></el-table-column>
                    <el-table-column label="操作" type="selection"></el-table-column>
                </el-table>


                
            </el-form>
            <el-button 
                type="primary" 
                icon="el-icon-upload"
                style="margin-left:100px"
                @click="addForm('addForm')"
            >开始排班</el-button>
        </el-drawer>


        <el-drawer
            title="不轮换排班"
            :visible.sync="paiban1Visible"
            direction="ltr"
            :modal="false"
            size="80%"
            ref="addDrawer"
             v-loading="addLoading"
        >
            <el-form
                :model="work"
                ref="paiban1Form"
               label-width="120px"
                label-position="left"
                status-icon
            >
                      <el-form-item label="开始日期" prop="startDate"  >
                              <el-date-picker 
                            v-model="ks1" 
                            type="date" 
                            placeholder="开始日期" 
                            value-format="yyyy-MM-dd" 
                            style="width: 200px ;float:left"
                            >
                        </el-date-picker>
                        
                        <el-form-item label="结束日期" prop="startDate"  >
                        <el-date-picker 
                            v-model="js1" 
                            type="date" 
                            placeholder="结束日期" 
                            value-format="yyyy-MM-dd" 
                             style="width: 200px ;float:left"
                            >
                        </el-date-picker>
                        </el-form-item>

                        </el-form-item>
                <el-form-item label="部门" prop="department_name">
                    <el-select 
                        v-model="work.department_name" 
                        filterable 
                        placeholder="请选择部门" 
                        :loading="orderLoading"
                        @change="departmentChange"
                        style="width: 200px"
                    >
                        <el-option 
                            v-for="order in orderList" 
                            :key="order.department_name" 
                            :label="order.department_name" 
                            :value="order.department_name"
                        >
                        </el-option>
                    </el-select>               
                </el-form-item>
                <el-form-item label="班次" prop="banci">
                    <el-input placeholder="班次" style="width: 200px" type="number" v-model="banci" ></el-input>
                </el-form-item>
                <el-form-item label="周休息日" prop="xiuxi">
                    <el-input placeholder="多休息日用逗号分隔" style="width: 200px" type="text" v-model="xiuxi"></el-input>
                </el-form-item>
                <el-form-item label="计划名称" prop="plan_name">
                    <el-input placeholder="计划名称" style="width: 200px" type="text" v-model="planName"></el-input>
                </el-form-item>

                <el-table
                    ref="check"
                    :data="list"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;"
                >
                    
                    <el-table-column prop="staff_name" label="姓名" sortable></el-table-column>
                    <el-table-column prop="phone_number" label="电话" sortable></el-table-column>
                    <el-table-column prop="id_number" label="身份证号" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门名称" sortable></el-table-column>
                    <el-table-column prop="banci" label="班次" sortable></el-table-column>
                    <el-table-column label="操作" type="selection"></el-table-column>
                </el-table>
            </el-form>
            <el-button 
                type="primary" 
                icon="el-icon-upload"
                style="margin-left:100px"
                @click="paiban1('paiban1Form')"
            >开始排班</el-button>
        </el-drawer>

        <el-drawer
            title="轮换排班"
            :visible.sync="paiban2Visible"
            direction="ltr"
            :modal="false"
            size="80%"
            ref="addDrawer"
             v-loading="addLoading"
        >
            <el-form
                :model="work"
                ref="paiban2Form"
               label-width="120px"
                label-position="left"
                status-icon
            >
                      <el-form-item label="开始日期" prop="startDate"  >
                              <el-date-picker 
                            v-model="ks2" 
                            type="date" 
                            placeholder="开始日期" 
                            value-format="yyyy-MM-dd" 
                            style="width: 200px ;float:left"
                            >
                        </el-date-picker>
                        <el-form-item label="结束日期" prop="startDate"  >
                        <el-date-picker 
                            v-model="js2" 
                            type="date" 
                            placeholder="结束日期" 
                            value-format="yyyy-MM-dd" 
                             style="width: 200px ;float:left"
                            >
                        </el-date-picker>
                        </el-form-item>

                        </el-form-item>
                <el-form-item label="部门" prop="department_name">
                    <el-select 
                        v-model="work.department_name" 
                        filterable 
                        placeholder="请选择部门" 
                        :loading="orderLoading"
                        @change="departmentChange"
                        style="width: 200px"
                    >
                        <el-option 
                            v-for="order in orderList" 
                            :key="order.department_name" 
                            :label="order.department_name" 
                            :value="order.department_name"
                        >
                        </el-option>
                    </el-select>               
                </el-form-item>
                <el-form-item label="轮换方式" prop="lunhuan_type">
                    <el-select v-model="lunhuan" placeholder="请选择" style="width: 200px">
                        <el-option
                          v-for="item in lunhuan_type"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        >
                        </el-option>
                      </el-select>
                </el-form-item>
                <el-form-item label="间隔天/周数" prop="jiange">
                    <el-input placeholder="间隔天/周数" style="width: 200px" type="number" v-model="jiange"></el-input>
                </el-form-item>
                <el-form-item label="班次" prop="banci">
                    <el-input placeholder="班次" style="width: 200px" type="number" v-model="banci" ></el-input>
                </el-form-item>
                <el-form-item label="轮换数量" prop="lunhuan_num">
                    <el-input placeholder="轮换数量" style="width: 200px" type="number" v-model="lunhuan_num" ></el-input>
                </el-form-item>
                <el-form-item label="计划名称" prop="plan_name">
                    <el-input placeholder="计划名称" style="width: 200px" type="text" v-model="planName"></el-input>
                </el-form-item>

                <el-table ref="check" :data="list" v-loading="loading" style="width: 100%;margin-top: 10px;">
                    <el-table-column prop="staff_name" label="姓名" sortable></el-table-column>
                    <el-table-column prop="phone_number" label="电话" sortable></el-table-column>
                    <el-table-column prop="id_number" label="身份证号" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门名称" sortable></el-table-column>
                    <el-table-column prop="banci" label="班次" sortable></el-table-column>
                    <el-table-column label="操作" type="selection"></el-table-column>
                </el-table>
            </el-form>

            <el-button 
                type="primary" 
                icon="el-icon-upload"
                style="margin-left:100px"
                @click="paiban2('paiban2Form')"
            >开始排班</el-button>
        </el-drawer>

    </div>
    <script>
        new Vue({
            el: '#paiban',
            data: {
                lunhuan_type: [{
                    value: '天',
                    label: '天'
                }, {
                    value: '周',
                    label: '周'
                }],
                now: 1,
                size: 20,
                total: 0,
                list: [],
                infoList:[],
                departmentList: [],
                department:[],
                renyuanList: [],
                checkList:[],
                work: {},
                orderList: [],
                orderLoading: false,
                addVisible: false,
                paiban1Visible:false,
                paiban2Visible:false,
                loading: false,
                addLoading:false,
                updateLoading:false,
                planName:'',
                banci:'',
                meizu_part:'',
                lunhuanjiangetianshu:'',
                startDate: '',
                endDate: '',
                ks1:'',
                js1:'',
                ks2:'',
                js2:'',
                xiuxi:'',
                jiange:'',
                department_name:'',
                plan_name:'',
                lunhuan_num:'',
                lunhuan:'',
                banciOptions: [
                    { value: 1, text: 1 },
                    { value: 2, text: 2 },
                    { value: 3, text: 3 },
                    { value: 4, text: 4 },
                ],
            },
            methods: {
                openAddForm:function(){
                    var _this = this;
                    _this.loading = true;
                    _this.addVisible = true;
                    this.openAddDrawer();
                    axios.post(myUrl('renyuan/getAllList'), {
                        
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.getInfoList('刷新')
                            _this.departmentList = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },
                paiban1Open:function(){
                    this.paiban1Visible = true;
                    this.getOrderList();
                },
                paiban2Open:function(){
                    this.paiban2Visible = true;
                    this.getOrderList();
                },
                openAddDrawer: function () {
                    this.addVisible = true;
                    this.getOrderList();
                    //this.getModuleList();
                },
                getOrderList: function () {
                    var _this = this;
                    _this.orderLoading = true;
                    //axios.post(myUrl('order/list'), {}).then(function (res) {
                    axios.post(myUrl('renyuan/getAllList'), {}).then(function (res) {
                        if (res.code == 200) {
                            _this.orderList = res.data
                            //部门去重
                            //
                            //
                            //
                            for (var i = 0; i < _this.orderList.length; i++) {
                                if (_this.department.indexOf(_this.orderList[i].department_name) == -1) {
                                    _this.department.push(_this.orderList[i].department_name)
                                }
                            }
                            _this.orderList = [];
                            for (var i = 0; i < _this.department.length; i++) {
                                _this.orderList.push({ department_name: _this.department[i] })
                            }

                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.orderLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.orderLoading = false;
                    })
                },
                orderChange: function(){
                    var orderId = this.work.order_id;
                    var order = this.orderList.find(o => o.id == orderId);
                    this.work.setNum = order != undefined ? order.set_num : 0;
                },

                departmentChange: function(){
                    var department_name=this.work.department_name;

                    var _this = this;
                    //axios.post(myUrl('order/list'), {}).then(function (res) {
                    axios.post(myUrl('renyuan/getAllListByDept'), {
                        department_name:department_name
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.list = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.orderLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.orderLoading = false;
                    })
                },


                addForm: function(){
                    var _this = this;
                    _this.addLoading=true;
                    var renyuan =[];
                    var infolList=[];
                    for (var i = 0; i < this.$refs.check.selection.length; i++) {
                        renyuan.push({
                            id: this.$refs.check.selection[i].id,
                            staff_name: this.$refs.check.selection[i].staff_name,
                            phone_number: this.$refs.check.selection[i].phone_number,
                            department_name: this.$refs.check.selection[i].department_name,
                            id_number: this.$refs.check.selection[i].id_number,
                        })
                    }
                    infolList.push({
                        plan_name:this.planName,
                        renshu:this.$refs.check.selection.length,
                        department_name:this.work.department_name,
                    })
                    
                    axios.post(myUrl('renyuan/getPaibanList'), {
                        renyuan:this.$refs.check.selection,
                        paibanbiaoInfo:infolList[0],
                        startDate:this.startDate,
                        endDate:this.endDate,
                        banci:this.banci,
                        meizu_part:this.meizu_part,
                        lunhuanjiangetianshu:this.lunhuanjiangetianshu,
                    }).then(function (res) {
                        if (res.code == 200) {
                            //_this.$notify({
                            //    title: res.msg,
                            //    type: 'success'
                            // });
                            alert("排班成功，请前往排班明细查看结果！");
                            _this.addLoading=false;
                            _this.getInfoList('刷新');
                            
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                            this.addLoading=false;
                        }
                    }).catch(function (err) {
                       // _this.$notify.error({
                       //     title: err.msg
                        // });
                        this.addLoading=false;
                    })
                },
                
                paiban1: function(){
                    var _this = this;
                    _this.addLoading=true;
                    var renyuan =[];
                    var infolList=[];
                    var xiuxi=this.xiuxi.replace("，",",");
                    for(var i=0;i<xiuxi.split(",").length;i++)
                    {
                        if (isNaN(xiuxi.split(",")[i]))
                        {
                            alert("休息日请填写数字,比如周一请填写“1”！");
                            _this.addLoading=false;
                            return;
                        }
                    }
                    for (var i = 0; i < this.$refs.check.selection.length; i++) {
                        renyuan.push({
                            id: this.$refs.check.selection[i].id,
                            staff_name: this.$refs.check.selection[i].staff_name,
                            phone_number: this.$refs.check.selection[i].phone_number,
                            department_name: this.$refs.check.selection[i].department_name,
                            id_number: this.$refs.check.selection[i].id_number,
                        })
                    }
                    if(this.banci>renyuan.length)
                    {
                        alert("班次不可大于人员数量！")
                        _this.addLoading=false;
                        return;
                    }
                    if(this.ks1=="" || this.js1=="")
                    {
                        alert("请填写起始时间和结束时间！")
                        _this.addLoading=false;
                        return;
                    }
                    infolList.push({
                        plan_name:this.planName,
                        renshu:this.$refs.check.selection.length,
                        department_name:this.work.department_name,
                    })
                    
                    axios.post(myUrl('renyuan/Paiban1'), {
                        renyuan:this.$refs.check.selection,
                        paibanbiaoInfo:infolList[0],
                        ks1:this.ks1,
                        js1:this.js1,
                        banci:this.banci,
                        xiuxi:this.xiuxi,
                    }).then(function (res) {
                        if (res.code == 200) {
                            alert("排班成功，请前往排班明细查看结果！");
                            _this.addLoading=false;
                            _this.getInfoList('刷新');
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                            this.addLoading=false;
                        }
                    }).catch(function (err) {
                        this.addLoading=false;
                    })
                },

                paiban2: function(){
                    var _this = this;
                    _this.addLoading=true;
                    var renyuan =[];
                    var infolList=[];
                    for (var i = 0; i < this.$refs.check.selection.length; i++) {
                        renyuan.push({
                            id: this.$refs.check.selection[i].id,
                            staff_name: this.$refs.check.selection[i].staff_name,
                            phone_number: this.$refs.check.selection[i].phone_number,
                            department_name: this.$refs.check.selection[i].department_name,
                            id_number: this.$refs.check.selection[i].id_number,
                        })
                    }
                    if(this.ks2=="" || this.js2=="")
                    {
                        alert("请填写起始时间和结束时间！")
                        _this.addLoading=false;
                        return;
                    }
                    if(parseInt(this.lunhuan_num) !=0 && this.$refs.check.selection.length<parseInt(this.lunhuan_num)*parseInt(this.banci))
                    {
                        alert("人数不足无法排班！")
                        _this.addLoading=false;
                        return;
                    }
                    infolList.push({
                        plan_name:this.planName,
                        renshu:this.$refs.check.selection.length,
                        department_name:this.work.department_name,
                    })
                    axios.post(myUrl('renyuan/Paiban2'), {
                        renyuan:this.$refs.check.selection,
                        paibanbiaoInfo:infolList[0],
                        ks2:this.ks2,
                        js2:this.js2,
                        banci:this.banci,
                        lunhuan_type:this.lunhuan,
                        lunhuan_num:this.lunhuan_num,
                        jiange:this.jiange,
                    }).then(function (res) {
                        if (res.code == 200) {
                            alert("排班成功，请前往排班明细查看结果！");
                            _this.addLoading=false;
                            _this.getInfoList('刷新');
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                            this.addLoading=false;
                        }
                    }).catch(function (err) {
                        this.addLoading=false;
                    })
                },

                getInfoList: function (type) {
                    var _this = this;
                    if(type=="刷新"){
                        _this.department_name="";
                        _this.plan_name="";
                    }
                    _this.loading = true;
                    axios.post(myUrl('paibanbiaoInfo/infoList'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                        department_name:_this.department_name,
                        plan_name:_this.plan_name,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total
                            _this.infoList = res.data.pageList
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },

                deleteInfo: function (id,remarks2) {
                    var _this = this;
                    axios.post(myUrl('paibanbiaoInfo/delete'), {
                        id: id,
                        e: remarks2,
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            _this.getInfoList('刷新');

                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });

                        }
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },

                updateForm: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if (valid) {
                            _this.updateLoading = true;
                            axios.post(myUrl('paibanbiaoInfo/update'), {
                                infoList: _this.$refs[formName].model
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.getInfoList('刷新');
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.updateLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.updateLoading = false;
                            })
                        }
                    })
                },




            },

            mounted: function () {
                this.getInfoList('刷新');
            }
        })
    </script>
</body>
</html>
