<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="static/css/main.css">
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="summary" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="5">
                        <el-select 
                            v-model="typeId" 
                            @change="getList" 
                            clearable 
                            placeholder="查询类别"
                            :loading="moduleTypeLoading"
                        >
                            <el-option 
                                v-for="moduleType in moduleTypeList" 
                                :key="moduleType.id" 
                                :label="moduleType.name" 
                                :value="moduleType.id"
                            ></el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="6">
                        <el-input v-model="orderId" placeholder="查询订单号" clearable></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button-group>
                            <el-button icon="el-icon-search" type="primary" @click="getList">查询</el-button>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getList"></el-button>
                            <el-button  icon="el-icon-printer" type="primary" @click="toExcel"></el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table
                    :data="list"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;"
                >
                    <el-table-column prop="type" label="类别" sortable></el-table-column>
                    <el-table-column prop="name" label="模块名称" sortable></el-table-column>
                    <el-table-column prop="num" label="产量/时" sortable></el-table-column>
                    <el-table-column prop="parentName" label="父模块" sortable></el-table-column>
                    <el-table-column prop="workNum" label="合计产量" sortable></el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getList"
                    style="margin-top: 10px"
                ></el-pagination>
            </el-main>
        </el-container>
    </div>

    <script>
        new Vue({
            el: '#summary',
            data: {
                now: 1,
                size: 20,
                total: 0,
                list: [],
                loading: false,

                typeId: '',
                orderId: '',

                moduleTypeList: [],
                moduleTypeLoading: false
            },
            methods: {
                toExcel: function () {
                    var columns = {
                        type: '模块类别',
                        name: '名称',
                        num: '效率',
                        parentName: '父模块',
                        workNum: '合计产量'
                    }
                    console.log(this.list)
                    exportExcel(this.list, columns, '汇总');
                },
                getList: function () {
                    var _this = this;
                    _this.loading = true;
                    axios.post(myUrl('summary/page'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                        typeId: _this.typeId == '' ? -1 : _this.typeId,
                        orderId: _this.orderId
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total
                            _this.list = res.data.pageList
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false
                    })
                },

                getModuleTypeList: function () {
                    var _this = this;
                    _this.moduleTypeLoading = true;
                    axios.post(myUrl('moduleType/list'), {}).then(function (res) {
                        if (res.code == 200) {
                            _this.moduleTypeList = res.data;
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.moduleTypeLoading = false
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.moduleTypeLoading = false
                    })
                }
            },
            
            mounted: function () {
                this.getList();
                this.getModuleTypeList();
            }
        })

    </script>
</body>
</html>
