<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="static/css/main.css">
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="time" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <!-- 工作时间配置-->
                <el-card shadow="always" v-loading="timeLoading">
                    <div slot="header">
                        <span>工作时间</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="isShowHolidayDrawer = true">休息日</el-button>
                    </div>
                    <el-table
                        :data="timeList"
                    >
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-row class="time-picker">
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="早上起始时间" 
                                            v-model="props.row.morning_start"
                                            :picker-options="{
                                                start: '6:00',
                                                step: '00:15',
                                                end: '10:00'
                                            }">

                                        </el-time-select>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="早上结束时间" 
                                            v-model="props.row.morning_end"
                                            :picker-options="{
                                                start: '6:00',
                                                step: '00:15',
                                                end: '10:00',
                                                minTime: props.row.morning_start
                                            }">
                                        </el-time-select>
                                    </el-col>
                                </el-row>
                                <el-row class="time-picker">
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="中午起始时间" 
                                            v-model="props.row.noon_start"
                                            :picker-options="{
                                                start: '10:00',
                                                step: '00:15',
                                                end: '12:00'
                                            }">

                                        </el-time-select>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="中午结束时间" 
                                            v-model="props.row.noon_end"
                                            :picker-options="{
                                                start: '10:00',
                                                step: '00:15',
                                                end: '12:00',
                                                minTime: props.row.noon_start
                                            }">
                                        </el-time-select>
                                    </el-col>
                                </el-row>
                                <el-row class="time-picker">
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="晚上起始时间" 
                                            v-model="props.row.night_start"
                                            :picker-options="{
                                                start: '12:00',
                                                step: '00:15',
                                                end: '23:00'
                                            }">

                                        </el-time-select>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-time-select 
                                            placeholder="晚上结束时间" 
                                            v-model="props.row.night_end"
                                            :picker-options="{
                                                start: '12:00',
                                                step: '00:15',
                                                end: '23:00',
                                                minTime: props.row.night_start
                                            }">
                                        </el-time-select>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-button type="primary" style="width: 100px" @click="saveTimeConfig(props.$index)">保存</el-button>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-table-column>
                        <el-table-column prop="week" label="周" :formatter="weekFormatter"></el-table-column>
                        <el-table-column prop="morning_start" label="早上起始时间"></el-table-column>
                        <el-table-column prop="morning_end" label="早上结束时间"></el-table-column>
                        <el-table-column prop="noon_start" label="中午起始时间"></el-table-column>
                        <el-table-column prop="noon_end" label="中午结束时间"></el-table-column>
                        <el-table-column prop="night_start" label="晚上起始时间"></el-table-column>
                        <el-table-column prop="night_end" label="晚上结束时间"></el-table-column>
                    </el-table>
                </el-card>

                <!--休息日配置-->
                <el-drawer
                    title="休息日配置"
                    :visible.sync="isShowHolidayDrawer"
                    direction="rtl"
                >
                    <el-button type="primary" icon="el-icon-circle-plus-outline" size="small" 
                        @click="holidayIsAdd = true">添加休息日</el-button>
                    <div 
                        v-loading="holidayDarwerLoading"
                        class="infinite-list holiday-list" 
                        v-infinite-scroll="getHolidayPage" 
                        infinite-scroll-disabled="holidayLoadDisible"
                    >
                        <div v-if="holidayIsAdd" class="infinite-list-item holiday-item">
                            <el-date-picker
                                v-model="holiday"
                                type="date"
                                placeholder="选择日期"
                                @change="holidayChange"
                                @blur="holidayBlur"
                            >
                            </el-date-picker>
                        </div>
                        <div 
                            class="infinite-list-item holiday-item"
                            v-for="holiday in holidayPage.pageList"
                        >
                            
                            <div ref="holiday">{{dayOrReset(holiday.day_or_reset)}}</div>
                            <div @click="holidayDelete(holiday.id)" class="holiday-delete">
                                <div  class="el-icon-delete"></div>
                            </div>
                        </div>
                        <div class="holiday-tag" v-if="holidayIsLoading">
                            <i class="el-icon-loading"></i>
                            加载中...
                        </div>
                        <div class="holiday-tag" v-if="holidayIsFinish">没有更多了</div>
                    </div>
                </el-drawer>
            </el-main>
        </el-container>
    </div>

    <script>
        new Vue({
            el: '#time',
            data: {
                weeks: ["一","二","三","四","五","六","日"],

                timeLoading: false,
                timeList: [],

                isShowHolidayDrawer: false,
                holidayIsLoading: false,
                holidayIsFinish: false,
                holidayPage: {
                    nowPage: 1,
                    pageCount: 20,
                    pageList: [],
                    total: 0
                },

                holidayDarwerLoading: false,
                holidayIsAdd: false,
                holiday: ''
            },
            computed: {
                holidayLoadDisible: function(){
                    return this.holidayIsLoading || this.holidayIsFinish
                }
            },
            methods: {
                getTimeList: function () {
                    var _this = this;
                    _this.timeList = [];
                    _this.timeLoading = true;
                    axios.post(myUrl('timeConfig/list'), {}).then(function (res) {
                        for (var i = 0; i < 7; i++) {
                            var weekNum = (i+1)
                            var week = res.data.find(w => w.week == weekNum);
                            if(week != undefined){
                                _this.timeList.push(week);
                            }else{
                                _this.timeList.push({
                                    id: -1,
                                    week: weekNum,
                                    morning_start: '',
                                    morning_end: '',
                                    noon_start: '',
                                    noon_end: '',
                                    night_start: '',
                                    night_end: '',
                                    company: ''
                                })
                            }
                        }
                        _this.timeLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },

                weekFormatter: function(row, column, cellValue, index){
                    return '星期' + this.weeks[cellValue-1];
                },
                saveTimeConfig: function(index){
                    var _this = this;
                    var time = _this.timeList[index];
                    if(time.id > 0){
                        axios.post(myUrl('timeConfig/update'),{
                            timeConfig: time
                        }).then(function(res){
                            if(res.code == 200){
                                _this.$notify({
                                    title: res.msg,
                                    type: 'success'
                                });
                            }
                            if (res.code == 500) {
                                _this.$notify({
                                    title: res.msg,
                                    type: 'error'
                                });
                            }
                        }).catch(function(err){
                            _this.$notify.error({
                                title: err.msg
                            });
                        })
                    }else{
                        axios.post(myUrl('timeConfig/add'),{
                            timeConfig: time
                        }).then(function(res){
                            if(res.code == 200){
                                _this.timeList[index].id = res.data.id
                                _this.timeList[index].company = res.data.company
                                _this.$notify({
                                    title: res.msg,
                                    type: 'success'
                                });
                            }
                            if (res.code == 500) {
                                _this.$notify({
                                    title: res.msg,
                                    type: 'error'
                                });
                            }
                        }).catch(function(err){
                            _this.$notify.error({
                                title: err.msg
                            });
                        })
                    }
                },


                getHolidayPage: function(){
                    var _this = this;
                    _this.holidayIsLoading = true;
                    _this.holidayIsFinish = false;
                    axios.post(myUrl('holidayConfig/holidayPage'),{
                        page: {
                            nowPage: _this.holidayPage.nowPage,
                            pageCount: _this.holidayPage.pageCount,
                            pageList: [],
                            total: 0
                        }
                    }).then(function(res){
                        if(res.code == 200){
                            if(res.data == undefined){
                                _this.holidayIsFinish = true;
                            }else{
                                _this.holidayPage.pageList = _this.holidayPage.pageList.concat(res.data.pageList);
                                if(res.data.pageList.length < _this.holidayPage.pageCount)
                                    _this.holidayIsFinish = true;
                            }
                            _this.holidayPage.nowPage++;
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.holidayIsLoading = false;
                    }).catch(function (err) {
                        _this.holidayIsLoading = false;
                        _this.$notify.error({
                            title: err.msg
                        });
                    })
                },
                dayOrReset: function(dateText){
                    return formatDate(dateText, 'yyyy-MM-dd');
                },
                holidayChange: function(){
                    var holiday = '/Date(' + new Date(this.holiday).getTime() + ')/';
                    if(this.holidayPage.pageList.find(h => h.day_or_reset == holiday) != undefined){
                        this.$notify.info({
                            title: '提示',
                            message: '日期[' + formatDate(this.holiday, 'yyyy-MM-dd') + ']已存在'
                        });
                        this.holiday = '';
                    }
                },
                holidayBlur: function(){
                    var _this = this;
                    _this.holidayDarwerLoading = true
                    if(_this.holiday != ''){
                        axios.post(myUrl('holidayConfig/save'),{
                            holiday: formatDate(_this.holiday, 'yyyy-MM-dd')
                        }).then(function(res){
                            if(res.code == 200){
                                _this.holidayPage.nowPage = 1;
                                _this.holidayPage.pageList = [];
                                _this.getHolidayPage();
                                _this.holidayIsAdd = false;
                            }
                            if (res.code == 500) {
                                _this.$notify({
                                    title: res.msg,
                                    type: 'error'
                                });
                            }
                            _this.holidayDarwerLoading = false
                        }).catch(function (err) {
                            _this.$notify.error({
                                title: err.msg
                            });
                            _this.holidayDarwerLoading = false
                        })
                        _this.holiday = '';
                    }
                },
                holidayDelete: function(id){
                    var _this = this;
                    _this.holidayDarwerLoading = true
                    if(id != ''){
                        axios.post(myUrl('holidayConfig/delete'),{
                            id: id
                        }).then(function(res){
                            if(res.code == 200){
                                _this.holidayPage.nowPage = 1;
                                _this.holidayPage.pageList = [];
                                _this.getHolidayPage();
                            }
                            if (res.code == 500) {
                                _this.$notify({
                                    title: res.msg,
                                    type: 'error'
                                });
                            }
                            _this.holidayDarwerLoading = false
                        }).catch(function (err) {
                            _this.$notify.error({
                                title: err.msg
                            });
                            _this.holidayDarwerLoading = false
                        })
                    }
                }
            },
            mounted: function () {
                this.getTimeList();
            }
        })
    </script>

    <style>
        .time-picker
        {
            margin-bottom: 10px;
        }

        .holiday-list
        {
            overflow: auto;
            height: 424px;
        }

        .holiday-item
        {
            width: 100%;
            border-bottom: 1px solid #dcdfe6;
            color: #606266;
            padding: 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .holiday-delete
        {
            padding: 0 5px;
            cursor: pointer;
            transition: .3s;
        }

            .holiday-delete:hover
            {
                color: #409eff;
            }

        .holiday-tag
        {
            font-size: small;
            color: #969799;
            padding: 10px 0;
        }
    </style>
</body>
</html>
