<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="static/element/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/main.css">

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>
    <script src="static/js/main.js"></script>
    <title>云合排产管理系统</title>
</head>
<body>
    <div id="userInfo" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main>
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="6">
                        <el-input v-model="user_code" placeholder="查询账号" clearable></el-input>
                    </el-col>
                    <el-col :span="8">
                        <el-button-group>
                            <el-button icon="el-icon-search" type="primary" :disabled="loading" @click="getList">查询</el-button>
                            <el-button icon="el-icon-refresh" type="primary" :disabled="loading" @click="getList">刷新</el-button>
                            <el-button icon="el-icon-circle-plus-outline" type="primary" @click="addVisible = true">添加</el-button>
                        </el-button-group>
                    </el-col>
                </el-row>
                <el-table
                    :data="list"
                    v-loading="loading"    
                    style="width: 100%;margin-top: 10px;"
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form
                                :model="props.row"
                                :rules="orderRules"
                                ref="updateForm"
                                label-width="80px"
                            >
                                <el-form-item label="账号" prop="user_code">
                                    <el-input v-model="props.row.user_code" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="密码" prop="password">
                                    <el-input v-model="props.row.password" style="width: 220px"></el-input>
                                </el-form-item>
                                <el-form-item label="部门" prop="department_name">
                                    <el-input v-model="props.row.department_name" style="width: 220px"></el-input>
                                </el-form-item>
                            </el-form>

                            <el-button 
                                type="primary" 
                                icon="el-icon-upload"
                                :loading="updateLoading"
                                @click="updateOrder('updateForm')"
                            >保存</el-button>
                        </template>
                    </el-table-column>

                    <el-table-column prop="user_code" label="账号" sortable></el-table-column>
                    <el-table-column prop="password" label="密码" sortable></el-table-column>
                    <el-table-column prop="department_name" label="部门" sortable></el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm title="确定删除吗？" @confirm="deleteOrder(scope.row.id)" hide-icon>
                                <el-button icon="el-icon-delete" type="danger" size="small" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="getList"
                    style="margin-top: 10px"
                ></el-pagination>
            </el-main>
        </el-container>

         <el-drawer
            title="注册账号"
            :visible.sync="addVisible"
            direction="ltr"
            :modal="false"
            size="50%"
            ref="orderDrawer"
             v-loading="saveLoading"
        >
            <el-form
                :model="order"
                :rules="orderRules"
                ref="addForm"
               label-width="80px"
                label-position="left"
                status-icon
            >
                <el-form-item label="账号" prop="user_code">
                    <el-input v-model="order.user_code" style="width: 220px"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="order.password" style="width: 220px"></el-input>
                </el-form-item>
                <el-form-item label="部门" prop="department_name">
                    <el-input v-model="order.department_name" style="width: 220px"></el-input>
                </el-form-item>
                </el-form>
                <el-button 
                    type="primary" 
                    icon="el-icon-upload"
                    style="margin-left:100px"
                    @click="addOrder('addForm')"
                >保存</el-button>
            </el-drawer>
    </div>

     <script>
         new Vue({
             el: '#userInfo',
             data: {
                 now: 1,
                 size: 20,
                 total: 0,
                 list: [],
                 user_code: '',
                 order: {},
                 riqi: '',

                 loading: false,
                 updateLoading: false,
                 saveLoading: false,
                 addVisible: false,

                 orderRules: {
                     order_number: [
                         { required: true, message: '订单号不能为空', trigger: 'blur' }
                     ],
                     moudle: [
                         { required: true, message: '模块不能为空', trigger: 'blur' }
                     ],
                     riqi: [
                         { required: true, message: '日期不能为空', trigger: 'blur' }
                     ],
                     num: [
                         { required: true, message: '数量', trigger: 'blur' }
                     ],
                 },
             },
             methods: {
                 getList: function () {
                     var _this = this;
                     _this.loading = true;
                     axios.post(myUrl('user/getList'), {
                         user_code: _this.user_code,
                         nowPage: _this.now,
                         pageCount: _this.size,
                     }).then(function (res) {
                         if (res.code == 200) {
                             _this.total = res.data.total
                             _this.list = res.data.pageList
                         }
                         if (res.code == 500) {
                             _this.$notify({
                                 title: res.msg,
                                 type: 'error'
                             });
                         }
                         _this.loading = false;
                     }).catch(function (err) {
                         _this.$notify.error({
                             title: err.msg
                         });
                         _this.loading = false;
                     })
                 },
                 addOrder: function (formName) {
                     var _this = this;
                     _this.$refs[formName].validate(function (valid) {
                         if (valid) {
                             _this.loading = true;
                             axios.post(myUrl('user/save'), {
                                 user_info: _this.$refs[formName].model
                             }).then(function (res) {
                                 if (res.code == 200) {
                                     _this.deptVisible = false,
                                     _this.getList();
                                 }
                                 if (res.code == 500) {
                                     _this.$notify({
                                         title: res.msg,
                                         type: 'error'
                                     });

                                 }
                                 _this.loading = false;
                             }).catch(function (err) {
                                 _this.$notify.error({
                                     title: err.msg
                                 });
                                 _this.loading = false;
                             })
                         }
                     })
                 },

                 //addDepartment1: function (formName) {
                 //    var _this = this;
                 //    _this.$refs[formName].validate(function (valid) {
                 //        if (valid) {
                 //            //_this.saveLoading = true;
                 //            axios.post(myUrl('department_new/departmentList'), {
                 //                departmentInfo: _this.department
                 //            }).then(function (res) {
                 //                if (res.code == 200) {
                 //                    _this.$notify({
                 //                        title: res.msg,
                 //                        type: 'success'
                 //                    });
                 //                    _this.getList();
                 //                    _this.$refs.addDepartment.closeDrawer();
                 //                }
                 //                // _this.saveLoading = false;
                 //            }).catch(function (err) {
                 //                _this.$notify.error({
                 //                    title: err.msg
                 //                });
                 //                // _this.saveLoading = false;
                 //            })
                 //        }
                 //    })
                 //},

                 deleteOrder: function (id) {
                     var _this = this;
                     axios.post(myUrl('user/delete'), {
                         id: id,
                     }).then(function (res) {
                         if (res.code == 200) {
                             _this.$notify({
                                 title: res.msg,
                                 type: 'success'
                             });
                             _this.getList();
                         }
                         if (res.code == 500) {
                             _this.$notify({
                                 title: res.msg,
                                 type: 'error'
                             });

                         }
                     }).catch(function (err) {
                         _this.$notify.error({
                             title: err.msg
                         });
                     })
                 },

                 updateOrder: function (formName) {
                     var _this = this;
                     _this.$refs[formName].validate(function (valid) {
                         if (valid) {
                             _this.updateLoading = true;
                             axios.post(myUrl('user/update'), {
                                 user_info: _this.$refs[formName].model
                             }).then(function (res) {
                                 if (res.code == 200) {
                                     _this.$notify({
                                         title: res.msg,
                                         type: 'success'
                                     });
                                     _this.getList();
                                     // _this.$refs.addDrawer.closeDrawer();
                                 }
                                 if (res.code == 500) {
                                     _this.$notify({
                                         title: res.msg,
                                         type: 'error'
                                     });

                                 }
                                 _this.updateLoading = false;
                             }).catch(function (err) {
                                 _this.$notify.error({
                                     title: err.msg
                                 });
                                 _this.updateLoading = false;
                             })
                         }
                     })
                 },

             },

             mounted: function () {
                 this.getList();
             }
         })
    </script>

</body>
</html>
