<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="../assets/css/chart.css"/>
    <link rel="stylesheet" href="static/css/main.css">
    <link href="static/element/index.css" rel="stylesheet" />

    <script type="text/javascript" src="static/vue/vue.js"></script>
    <script type="text/javascript" src="static/element/index.js"></script>
    <script type="text/javascript" src="static/axios/axios.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.1.0/echarts.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-echarts/4.0.2/vue-echarts.min.js"></script>
    <script src="static/js/main.js"></script>
    <style>
        .labelStyle .el-form-item__label {
            color:white;
        }
        /*.inputStyle .el-input {
            background:	#1E90FF;
            color:#1E90FF;
        }*/
        .inputStyle .el-input__inner[SuccessColor="success"] {
            background-color:#1E90FF;
        }
    </style>

    <title>云合排产管理系统</title>
</head>
<body>
    <div id="work" style="display: none;" :style="{display: 'block'}">
        <el-container>
            <el-main v-loading="loading">
                <el-row :gutter="10" style="margin-bottom: 20px">
                    <el-col :span="5">
                        <el-input placeholder="订单号" v-model="orderId" clearable></el-input>
                    </el-col>
                    <el-col :span="11">
                        <el-button-group>
                            <el-button 
                                icon="el-icon-search" 
                                type="primary" 
                                @click="workList"></el-button>
                            <el-button 
                                icon="el-icon-refresh" 
                                type="primary" 
                                @click="initWorkList"></el-button>
                            <el-button 
                                icon="el-icon-circle-plus-outline" 
                                type="primary" 
                                @click="openAddDrawer"></el-button>
                            <!--<el-button 
                                icon="el-icon-delete" 
                                type="primary"
                                @click="deleteDialogVisible = true"></el-button>-->
                            <el-button 
                                icon="el-icon-tickets" 
                                type="primary" 
                                @click="setDate">生产计划</el-button>
                            <el-button 
                                icon="el-icon-tickets" 
                                type="primary" 
                                @click="statistics">统计</el-button>
                            <el-button
                                icon="el-icon-s-marketing"
                                type="primary" 
                                @click="chartVisible=true;getSelect()"
                                >图表</el-button>
                        </el-button-group>
                    </el-col>
                    <el-col :span="5">
                        <el-input placeholder="删除" v-model="row_num" type="number" clearable></el-input>
                    </el-col :span="5">
                    <el-button-group>
                        <el-button
                            icon="el-icon-delete"
                            type="danger" 
                            @click="deleteWork();"
                        >删除</el-button>
                    </el-button-group>
                </el-row>
                <el-table :data="list" :row-style="rowIsInsert">
                    <el-table-column 
                        v-for="(item,index) in tableHead" 
                        :key="index" 
                        :label="item.label"
                        :property="item.property"
                        :width="item.width"
                        :fixed="item.fixed"
                    ></el-table-column>
                </el-table>
                <el-pagination 
                    background 
                    layout="prev, pager, next" 
                    :current-page.sync="now"
                    :total="total"
                    :page-size="size"
                    :hide-on-single-page="total <= size" 
                    @current-change="workList"
                    style="margin-top: 10px"
                ></el-pagination>
            </el-main>
        </el-container>

        <el-drawer
            title="新增排产明细"
            :visible.sync="addVisible"
            direction="ltr"
            :modal="false"
            size="80%"
            ref="addDrawer"
            v-loading="saveLoading"
        >
            <el-form 
                :model="work"
                :rules="rules"
                ref="addForm"
            >
                <el-form-item label="是否插单">
                    <el-switch v-model="work.is_insert" active-value="1" inactive-value="0"></el-switch>
                </el-form-item>
                <transition name="el-zoom-in-top">
                    <el-form-item label="编号" prop="row_num" v-show="work.is_insert == 1">
                        <el-select 
                            v-model="work.row_num" 
                            filterable 
                            placeholder="请选择插入的编号"
                            style="width: 230px"
                        >
                            <el-option 
                                v-for="row in rowList" 
                                :key="row.rowNum" 
                                :label="row.rowNum" 
                                :value="row.rowNum"
                            >
                                <span style="float: left">编号：{{row.rowNum}}</span>
                                <span class="option-tag">订单号：{{row.orderId}}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                </transition>
                <el-form-item label="订单号" prop="order_id">
                    <el-select 
                        v-model="work.order_id" 
                        filterable 
                        placeholder="请选择订单号" 
                        :loading="orderLoading"
                        @change="orderChange"
                        style="width: 230px"
                    >
                        <el-option 
                            v-for="order in orderList" 
                            :key="order.id" 
                            :label="order.order_id" 
                            :value="order.id"
                        >
                            <span style="float: left">{{order.order_id}}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="使用模块" prop="moduleList">
                    <el-select 
                        v-model="work.moduleList" 
                        filterable 
                        multiple 
                        placeholder="请选择使用模块" 
                        :loading="moduleLoading"
                        collapse-tags
                        style="width: 230px;"
                    >
                        <el-option 
                            v-for="module in moduleList" 
                            :key="module.id" 
                            :label="module.name" 
                            :value="module.id"
                        >
                            <span style="float: left">{{module.name}}</span>
                            <span class="option-tag">效率：{{module.num}}</span>
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="可生产数量" prop="setNum">
                    <el-input :value="work.setNum" readonly style="width: 230px;"></el-input>
                </el-form-item>
                <el-form-item label="生产数量" prop="work_num">
                    <el-input v-model.number="work.work_num" style="width: 230px;"></el-input>
                </el-form-item>
                <el-form-item label="开始生产日期" prop="work_start_date">
                    <el-date-picker v-model="work.work_start_date" type="datetime" placeholder="请选择日期" style="width: 230px;"></el-date-picker>
                </el-form-item>
            </el-form>
            <el-button 
                type="primary"
                icon="el-icon-upload"
                @click="addWork('addForm')"
                style="margin-top: 20px;"
            >保存</el-button>
        </el-drawer>
        <el-drawer
            title="图表"
            :visible.sync="chartVisible"
            direction="ltr"
            :modal="false"
            size="95%"
            ref="chartDrawer"
        >
            <el-form 
                :model="work"
                ref="chartForm"
                style="background: url('static/img/image4.jpeg') no-repeat center!important;background-size:100% 100%"
            >
                <!--style="background: url('static/img/image3.jpeg') no-repeat center!important;background-size:100% 100%"-->
                
                <el-form-item label="选择开始日期：" class="labelStyle" >
                    <el-date-picker 
                        style="width:150px"
                        v-model="startDate" 
                        type="date" 
                        placeholder="选择开始日期" 
                        value-format="yyyy-MM-dd"
                        @change="tDay">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="选择结束日期：" class="labelStyle">
                    <el-date-picker 
                        style="width:150px"
                        v-model="endDate" 
                        type="date" 
                        placeholder="选择结束日期" 
                        value-format="yyyy-MM-dd" 
                        @change="tDay">
                    </el-date-picker>
                </el-form-item>
                <el-form-item prop="orderId" label="请选择订单号：" class="labelStyle">
                    <el-select 
                        style="width:150px"
                        v-model="list.orderId" 
                        filterable 
                        placeholder="请选择订单号" 
                        style="width: 230px"
                    >
                        <el-option 
                            v-for="info in options" 
                            :key="info.orderId" 
                            :label="info.orderId" 
                            :value="info.orderId"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="请选择模块：" class="labelStyle">
                    <el-select 
                        style="width:150px"
                        v-model="list.moudleInfo" 
                        filterable 
                        placeholder="请选择模块" 
                        style="width: 230px"
                    >
                        <el-option 
                            v-for="info in module" 
                            :key="info.name" 
                            :label="info.name" 
                            :value="info.name"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button-group>
                        <el-button 
                            icon="el-icon-search" 
                            type="success" 
                            style="margin-top:40px"
                            @click="getChart">生成</el-button>
                    </el-button-grou>
                </el-form-item>
                    
                <!--<div class="chart-item">
                    <div id="accountingBalance"></div>
                </div>
                <div class="chart-item">
                    <div id="liabilities"></div>
                </div>-->

                <!--<el-form-item label="天数：" class="labelStyle"  style="margin-left:600px;width:200px">
                    <el-input v-model="list.days" class="inputStyle" ></el-input>
                </el-form-item>
                <el-form-item label="数量：" class="labelStyle" style="margin-left:600px;width:200px">   
                    <el-input v-model="list.num" class="inputStyle" ></el-input>
                </el-form-item>-->
                <chart :options="orgOptions" :auto-resize="true" ></chart>
                    
                <chart :options="barOptions" :auto-resize="true"></chart>
                 <!--disabled="true"-->
                

            

            
            </el-form>
            
            <!--<p style="margin-left:50px;margin-bottom:250px">
                <b><span style="font-size: 25pt;color:#FFFFFF">排产生产计划</span></b>
            </p>-->
        </el-drawer>
        <!--<el-dialog title="删除排产明细" :visible.sync="deleteDialogVisible" :modal="false" @open="deleteDialogOpen">
            <el-checkbox 
                v-for="row in rowList"
                v-model="row.checked" 
                :label="row.orderId" 
                border>
                <div>{{row.orderId}} 编号：{{row.rowNum}}</div>
            </el-checkbox>
        </el-dialog>-->

        <el-drawer title="今日生产计划" :visible.sync="tVisible" direction="ttb" size="80%" :modal="false">
            <el-date-picker 
                v-model="nowDate" 
                type="date" 
                placeholder="选择日期" 
                value-format="yyyy-MM-dd" 
                @change="tDay">
            </el-date-picker>

            <el-table :data="tList">
                <el-table-column property="orderId" label="订单号"></el-table-column>
                <el-table-column property="moduleName" label="模块"></el-table-column>
                <el-table-column property="num" label="效率/时"></el-table-column>
                <el-table-column property="workNum" label="生产数量"></el-table-column>
            </el-table>

            <!--<chart :options="orgOptions" :auto-resize="true"></chart>-->
        </el-drawer>

        <el-drawer title="统计" :visible.sync="tjVisible" direction="ttb" size="80%" :modal="false">
             <el-date-picker 
                v-model="startDate" 
                type="date" 
                placeholder="选择日期" 
                value-format="yyyy-MM-dd">                
            </el-date-picker>
            <!--<el-date-picker 
                v-model="endDate"
                type="date" 
                placeholder="结束日期" 
                value-format="yyyy-MM-dd">
            </el-date-picker>-->
            <el-button 
                icon="el-icon-tickets" 
                type="primary" 
                @click="tjnum"
                >统计</el-button>
            <el-table :data="tjList">
                <el-table-column property="orderId" label="订单号"></el-table-column>
                <el-table-column property="moduleName" label="模块"></el-table-column>
                <el-table-column property="workNum" label="生产数量"></el-table-column>
                <el-table-column property="surplusNum" label="剩余数量"></el-table-column>
            </el-table>
        </el-drawer>

    </div>


    <script>
        
    </script>

    <script>

        new Vue({
            el: '#work',
            components: {
                'chart': VueECharts
            },
            data:{
                edit:true,
                options:[],
                module:[],
                now: 1,
                size: 20,
                total: 0,
                list: [],
                rowList: [],
                orderId: '',
                loading: false,

                tableHead: [],

                addVisible: false,
                chartVisible: false,
                orderLoading: false,
                orderList: [],

                moduleLoading: false,
                moduleList: [],

                row_num:'',

                saveLoading: false,
                work: {},
                rules: {
                    //row_num: [
                    //    { required: this.work.is_insert != 0 && this.work.is_insert != undefined , message: '编号不能为空', trigger: 'blur' }
                    //],
                    moduleList: [
                        { required: true, message: '使用模块不能为空', trigger: 'blur' }
                    ],
                    order_id: [
                        { required: true, message: '订单号不能为空', trigger: 'blur' }
                    ],
                    work_num: [
                        { required: true, message: '生产数量不能为空', trigger: 'blur' },
                        { type: 'number', message: '生产数量必须为数字值' }
                    ],
                    work_start_date: [
                        { required: true, message: '开始生产日期不能为空', trigger: 'blur' }
                    ]
                },

                deleteDialogVisible: false,
                deleteList: [],

                tVisible: false,
                tjVisible: false,
                nowDate: '',
                startDate: '',
                endDate: '',
                tList: [],
                tjList: [],
                orgOptions: {
                    title: {
                        text: "排产折线图",
                        textStyle:{
                            color:'#FFFFFF', //颜色
                            fontStyle:'normal', //风格
                            fontWeight:'normal', //粗细
                            fontFamily:'Microsoft yahei', //字体
                            fontSize:20, //大小
                            align:'center' //水平对齐
                        },
                        //textAlign: 'center'
                    },
                    tooltip: {
                        trigger: "axis",
                        axisPointer: {
                            type: "shadow"
                        }
                    },
                    xAxis: {
                        nameTextStyle: {
                            fontSize:15,
                            color:'#FFFFFF', //颜色
                        },
                        name: '日期',
                        type: 'category',
                        data: [],
                        axisLine:{
                            lineStyle:{
                                color:'#FFFFFF',
                                width:4,//这里是为了突出显示加上的
                            }
                        },
                    },
                    yAxis: {
                        nameTextStyle: {
                            fontSize:15,
                            color:'#FFFFFF', //颜色
                        },
                        name: '数量',
                        type: 'value',
                        axisLine:{
                            lineStyle:{
                                color:'#FFFFFF',
                                width:4,//这里是为了突出显示加上的
                            }
                        },
                    },
                    series: [{
                        //symbol: 'circle',//折线点设置为实心点

                        symbolSize: 4,   //折线点的大小
                        type: 'line',//折线图
                        data: [],
                        itemStyle: {
                            normal: {
                                color: "#5078DB",//折线点的颜色
                                lineStyle: {
                                    color: "#F4422C"//折线的颜色
                                }
                            }
                        },
                    }],
                    //grid:{
                    //    x:22,
                    //    height:300,
                    //    width:500,
                    //},
                },
                barOptions: {
                    title: {
                        text: "排产柱状图",
                        textStyle:{
                            color:'#FFFFFF', //颜色
                            fontStyle:'normal', //风格
                            fontWeight:'normal', //粗细
                            fontFamily:'Microsoft yahei', //字体
                            fontSize:20, //大小
                            align:'center' //水平对齐
                        },
                    },
                    tooltip: {
                        trigger: "axis",
                        axisPointer: {
                            type: "shadow"
                        }
                    },
                    xAxis: {
                        nameTextStyle: {
                            fontSize:15,
                            color:'#FFFFFF', //颜色
                        },
                        name: '日期',
                        type: 'category',
                        data: [],
                        axisLine:{
                            lineStyle:{
                                color:'#FFFFFF',
                                width:4,//这里是为了突出显示加上的
                            }
                        },

                    },
                    yAxis: {
                        nameTextStyle: {
                            fontSize:15,
                            color:'#FFFFFF', //颜色
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#FFFFFF',
                                width:4,//这里是为了突出显示加上的
                            }
                        },
                        name: '数量',
                        type: 'value'
                    },
                    series: [{
                        type: 'bar',//折线图
                        data: [],
                        itemStyle: {
                            normal: {
                                color: "#F4422C",//折线点的颜色
                                
                            }
                        },
                    }],
                    //grid:{
                    //    x:22,
                    //    height:300,
                    //    width:500,
                    //},
                },

            },
            methods: {
                workList: function () {
                    var _this = this;
                    _this.loading = true;
                    axios.post(myUrl('work/page'), {
                        nowPage: _this.now,
                        pageCount: _this.size,
                        orderId: _this.orderId
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.total = res.data.total;
                            _this.list = res.data.pageList == null ? [] : res.data.pageList ;
                            _this.header();
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.loading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.loading = false;
                    })
                },

                header: function () {
                    this.rowList = [];

                    var defaultHeader = [
                        {
                            label: '编号',
                            property: 'row_num',
                            width: 60,
                            fixed: 'left'
                        } ,{
                            label: '订单号',
                            property: 'orderId',
                            width: 160,
                            fixed: 'left'
                        }, {
                            label: '所属模块',
                            property: 'moduleInfo.name',
                            width: 120
                        }, {
                            label: '模块效率/时',
                            property: 'moduleInfo.num',
                            width: 100
                        }, {
                            label: '生产数量',
                            property: 'work_num',
                            width: 100
                        }, {
                            label: '开始生产日期',
                            property: 'work_start_date',
                            width: 200
                        }
                    ];

                    var flowHeader = [];
                    if (this.list == null || this.list == '') return;
                    
                    for (var i = 0; i < this.list.length; i++) {
                        if(this.rowList.find(row => row.rowNum == this.list[i].row_num) == undefined){
                            this.rowList.push({
                                rowNum: this.list[i].row_num,
                                orderId: this.list[i].orderId
                            });
                        }

                        for (var key_ in this.list[i].workDayList) {
                            var item_ = this.list[i].workDayList[key_]
                            var dateTime = formatDate(item_.dateTime, 'yyyy-MM-dd')
                            for(var x = 0; x < this.list.length; x++){
                                if(this.list[x][dateTime] == undefined) this.list[x][dateTime] = 0;
                                if(flowHeader.find(f => f.label == dateTime) == undefined){
                                    flowHeader.push({
                                        label: dateTime,
                                        property: dateTime,
                                        width: 120
                                    })
                                }
                            }
                            this.list[i][dateTime] = item_.work_num.toFixed(1)
                        }
                    }

                    this.tableHead = defaultHeader.concat(flowHeader);
                },

                initWorkList: function () {
                    this.orderId = '';
                    this.workList();
                },

                openAddDrawer: function () {
                    this.addVisible = true;
                    this.getOrderList();
                    this.getModuleList();
                },

                getOrderList: function () {
                    var _this = this;
                    _this.orderLoading = true;
                    axios.post(myUrl('order/list'), {}).then(function (res) {
                        if (res.code == 200) {
                            _this.orderList = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.orderLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.orderLoading = false;
                    })
                },

                getModuleList: function () {
                    var _this = this;
                    _this.moduleLoading = true;
                    axios.post(myUrl('module/list_num_is'), {}).then(function (res) {
                        if (res.code == 200) {
                            _this.moduleList = res.data
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        _this.moduleLoading = false;
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        _this.moduleLoading = false;
                    })
                },

                orderChange: function(){
                    var orderId = this.work.order_id;
                    var order = this.orderList.find(o => o.id == orderId);
                    this.work.setNum = order != undefined ? order.set_num : 0;
                },

                addWork: function (formName) {
                    var _this = this;
                    _this.$refs[formName].validate(function (valid) {
                        if(valid){
                            if(_this.work.work_num > _this.work.setNum){
                                _this.$message({
                                    message: '生产数量不能大于可生产数量',
                                    type: 'warning'
                                });
                                return;
                            }
                            _this.saveLoading = true;
                            axios.post(myUrl('work/save'), {
                                workDetail: {
                                    order_id: _this.work.order_id,
                                    work_num: _this.work.work_num,
                                    work_start_date: _this.work.work_start_date,
                                    row_num: _this.work.row_num,
                                    is_insert: _this.work.is_insert
                                },
                                workModuleIdList: _this.work.moduleList
                            }).then(function (res) {
                                if (res.code == 200) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'success'
                                    });
                                    _this.workList();
                                    _this.$refs.addDrawer.closeDrawer();
                                    _this.work = {};
                                }
                                if (res.code == 500) {
                                    _this.$notify({
                                        title: res.msg,
                                        type: 'error'
                                    });
                                }
                                _this.saveLoading = false;
                            }).catch(function (err) {
                                _this.$notify.error({
                                    title: err.msg
                                });
                                _this.saveLoading = false;
                            })
                        }
                    })
                },

                rowIsInsert: function(row){
                    return row.row.is_insert > 0 ? {
                        'background-color': '#FDF5E6'
                    } : {};
                },

                deleteDialogOpen: function(){
                    
                },

                setDate: function(){
                    this.nowDate = formatDate(new Date, "yyyy-MM-dd")
                    this.tDay();
                    this.tVisible = true;
                },

                tDay: function(){
                    console.log(this.list)
                    this.tList = [];
                    for(var i = 0;i<this.list.length;i++){
                        var workNum = this.list[i][this.nowDate];
                        if(workNum > 0){
                            this.tList.push({
                                orderId: this.list[i].orderId,
                                moduleName: this.list[i].moduleInfo.name,
                                num: this.list[i].moduleInfo.num,
                                workNum: workNum
                            })
                        }
                    }
                },

                statistics:function(){
                    this.startDate = formatDate(new Date, "yyyy-MM-dd")
                    this.endDate = formatDate(new Date, "yyyy-MM-dd")
                    this.tjnum();
                    this.tjVisible = true;
                },

                getChart:function(){
                    var orderId=this.list.orderId;
                    var moudleInfo=this.list.moudleInfo;
                    this.orgOptions.xAxis.data=[];
                    this.orgOptions.series[0].data=[];
                    this.barOptions.xAxis.data=[];
                    this.barOptions.series[0].data=[];
                    var startDate=""
                    var endDate=""
                    if(this.startDate==""){
                        startDate="1900/01/01"
                    }else if(this.startDate==null){
                        startDate="1900/01/01"
                    }else{
                        startDate=this.startDate
                    }
                    if(this.endDate==""){
                        endDate="2200/12/31"
                    }else if(this.endDate==null){
                        endDate="2200/12/31"
                    }else{
                        endDate=this.endDate
                    }


                    if(moudleInfo==''||typeof(moudleInfo)=="undefined"){
                        for(var i=0;i<this.list.length;i++){
                            if(orderId==this.list[i].orderId){
                                for(var key in this.list[i]){
                                    if(key!="company"&&key!="id"&&key!="is_insert"&&key!="is_insert"&&key!="moduleInfo"&&key!="orderId"&&key!="order_id"&&key!="row_num"&&key!="workDayList"&&key!="num"&&key!="work_num"&&key!="work_start_date"&&this.list[i][key]!=0&&key<=endDate&&key>startDate){
                                        this.orgOptions.xAxis.data.push(key)
                                        this.orgOptions.series[0].data.push(this.list[i][key])
                                        this.barOptions.xAxis.data.push(key)
                                        this.barOptions.series[0].data.push(this.list[i][key])
                                    }
                                }
                            }
                        }
                        this.list.days=new Date(endDate)-new Date(startDate)
                        var a=1
                    }else if(this.moudleInfo!=''){
                        var mdi=[];
                        for(var i=0;i<this.list.length;i++){
                            mdi.push(this.list[i].moduleInfo)
                        }
                        for(var i=0;i<this.list.length;i++){
                            if(orderId==this.list[i].orderId&&moudleInfo==mdi[i].name){
                                for(var key in this.list[i]){
                                    if(key!="company"&&key!="id"&&key!="is_insert"&&key!="is_insert"&&key!="moduleInfo"&&key!="orderId"&&key!="order_id"&&key!="row_num"&&key!="workDayList"&&key!="num"&&key!="work_num"&&key!="work_start_date"&&this.list[i][key]!=0&&key<=endDate&&key>startDate){
                                        this.orgOptions.xAxis.data.push(key)
                                        this.orgOptions.series[0].data.push(this.list[i][key])
                                        this.barOptions.xAxis.data.push(key)
                                        this.barOptions.series[0].data.push(this.list[i][key])
                                    }
                                }
                            }
                        }
                    }
                },

                getSelect:function(){
                    this.options =[];
                    var tempData =this.list;
                    var hash = {};
                    tempData = tempData.reduce(function (info, next) {
                        hash[next.orderId] ? '' : hash[next.orderId] = true && info.push(next);
                        return info;
                    }, []);
                    this.options = tempData;

                    this.module=[];
                    tempData =this.list;
                    hash = {};
                    tempData = tempData.reduce(function (info, next) {
                        hash[next.moduleInfo.name] ? '' : hash[next.moduleInfo.name] = true && info.push(next);
                        return info;
                    }, []);
                    for(var i=0;i<tempData.length;i++){
                        this.module.push(tempData[i].moduleInfo)
                    }

                },

                tjnum: function(){
                    console.log(this.list)
                    this.tList=[];
                    tList= removeDuplicatedItem(this.list)
                    console.log(tList)
                    this.tjList = [];
                    for(var j=0;j<tList.length;j++){
                        var workNumto=0;
                        var shengyushuliangto=0;
                        var moduleInfo_name;
                        for(var i = 0;i<this.list.length;i++){                     
                            var workNum = this.list[i][this.startDate];
                            var surplusNum=0;
                            if(workNum > 0){
                                if(tList[j]==this.list[i].orderId)
                                {    
                                    workNumto=workNumto+parseFloat(workNum),
                                    shengyushuliangto=shengyushuliangto+this.list[i].work_num,
                                    moduleInfo_name=this.list[i].moduleInfo.name,
                                    console.log(workNumto)
                                }
                            }
                        }
                        this.tjList.push({
                            orderId: tList[j],
                            moduleName: moduleInfo_name,
                            workNum: workNumto,
                            surplusNum: shengyushuliangto-workNumto
                        })


                        //var orderId=this.list[i].orderId
                        //var workNum = this.list[i][this.startDate];
                        //var surplusNum=0;
                        //if(workNum > 0){
                        //    this.tjList.push({
                        //        orderId: this.list[i].orderId,
                        //        moduleName: this.list[i].moduleInfo.name,
                        //        workNum: workNum,
                        //        surplusNum: this.list[i].work_num-workNum
                        //    })
                        //}
                    }
                },
                deleteWork: function () {
                    var _this = this;
                    axios.post(myUrl('work/deleteWork'), {
                        rowNum: _this.row_num
                    }).then(function (res) {
                        if (res.code == 200) {
                            _this.$notify({
                                title: res.msg,
                                type: 'success'
                            });
                            _this.workList();
                        }
                        if (res.code == 500) {
                            _this.$notify({
                                title: res.msg,
                                type: 'error'
                            });
                        }
                        
                    }).catch(function (err) {
                        _this.$notify.error({
                            title: err.msg
                        });
                        
                    })
                },
                
            },
            mounted: function () {
                this.workList();
            }
        })

        function removeDuplicatedItem(ar) {
            var ret = [];
            console.log("122212")
            for (var i = 0, j = ar.length; i < j; i++) {
                console.log(ar[i].orderId)
                if (ret.indexOf(ar[i].orderId) === -1) {
                    ret.push(ar[i].orderId);
                }
            }

            return ret;
        
        }
    </script>

    <style>
        .el-form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;
        }

        .el-form-item {
            margin-right: 10px;
        }

        .option-tag {
            color: #8492a6;
            font-size: 13px;
            margin-left: 10px;
        }

        .el-checkbox.is-bordered {
            width: 100%;
            border: 0;
            border-bottom: 1px solid #f2f2f2;
            border-radius: 0;
            margin: 0;
        }

            .el-checkbox.is-bordered + .el-checkbox.is-bordered {
                margin: 0;
            }
    </style>
</body>
</html>
