html {
    width:95%;
    height:95%;

}
body {
    width:100%;
    height:100%;
}
.first {
    width:100%;
    height:100%;
}
.but1 {
    background-image:url(..\images\添加.png);
    background-size:5px 5px;
    background-position:5px 4px;
    padding:8px 10px 8px 40px;
}
.down {
    position:relative;
    float:left;
    top:-550px;
    left:300px;

}
.down input {
    margin:40px 90px 40px 50px ;

}
    background-color: white;
    border: 3px solid #494f59  ;
    color: #494f59;
    border-radius: 5px ;
    margin-left: 40px;
    margin-top:3px;
    font-size:20px;
}
.qx:hover {
    background-color: #494f59;
    color: white;
}
