/* common use*/
*{
	padding:0px;
	margin:0px;
	    color: #ffffff;
	font-family:"Microsoft Yahei",arial;}

li{
	list-style-type:none;
	line-height:180%;}

img{border:0; 
}
.biaoti {
      animation: suofang 5s linear infinite;
          position: absolute;
    top: 90px;
}
table { 
        /*border-collapse: collapse;*/
    border-radius: 0 0 20px 20px;
      
    position: absolute;
    box-sizing:border-box;
     box-shadow: 1px 1px 4px 1px #ffffff, -1px -1px 4px 1px white; 
       background: linear-gradient(163deg, #2d5feddb, #091441b5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow:hidden;
} 
html { overflow:-moz-scrollbars-vertical; }

a{color:#FFFFFF;text-decoration:none;}
a:hover {text-decoration:underline;color:#FFFFFF;}
a:active{text-decoration:underline;}

.LineLink a{text-decoration:underline;}
.LineLink a:hover {text-decoration:none;color:#CC0000;}

.ColorLink a {color:#1C5CC7;}
.ColorLink a:hover {color:#cc0000;}

.WidthTab{
	width:10px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;}	

body{
	background-color:#00334f;
	font-size:12px;
	color:#075D6C;
	padding-top:0px;
   
    background-size:100% 110%;
    background-attachment:fixed;
}

.mains{
	/*width:100%;
	height:100%;*/
	/*background:url("../images/back_bg.jpg") repeat left top;*/
    /*background:url("../images/background.jpg") no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;*/
}
    

.mains .inners{

	width:100%;
	}

.mains .inners .lefts{
	float:left;
	width:600px;
	height:530px;
	/*background:url("../images/back_logo.jpg") no-repeat 130px top;*/

}

.mains .inners .login{
	float:left;
	width:100%;
	padding-top:120px;

	}


			
 .CopyR{
	margin:auto;
	text-align:center;
	color:#FFFFFF;
	font-size:10px;
	padding-top:20px;}


.login .center .inner{
	/*padding-top:85px;*/
	float:right;
	width:400px;
    position:fixed;
    top:30%;
    right:0;
    left:0;
    bottom:0;
    margin: auto;
     transition: all 0.4s ease;
        /* 初始位置在左侧屏幕外 */
            transform: translateX(-100vw);
       
            /* 动画设置 */
            animation: slideIn 1s ease-out forwards;
            animation-delay: 0.6s;
   
	}
 @keyframes slideIn {
            0% {
                transform: translateX(-100vw);
                opacity: 0;
            }
            80% {
                transform: translateX(20px);
                opacity: 1;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

.yzm {
    width:100%
}
.phoneipt {
     transition: all 0.4s ease;
}
.phoneipt:hover {
    transform:translateY(-2px);
}

.login .center .inner #innnertalbe{
	width:400px;}	
.login .center .inner input{
	line-height:40px;
	padding:0 5px;
	font-size:15px;
	font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;
	    color: #383838;
      background: rgb(255 255 255 / 35%);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            color: white;
        
	}
.login .center .inner input:hover{
	border:1px solid #FFA100;
}
.login .center .inner .LoginSub{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    width: 130px;
    height: 38px;
    border: 2px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #00e6f1 0%, #4092db 50%, #92afe1 100%);
    border-radius: 10px;
    transition: all 0.3s;
    margin:auto;
       
	}

 .NOLoginSub{
	border-style: none;
    border-color: inherit;
    border-width: medium;
    font-size:18px;
	font-weight:normal;
	line-height:30px;
	width:89px;
	cursor:pointer;
	/*background:url("../images/login_icon1.gif") no-repeat left top;*/
	color:#b6ff00;
	font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;
	}

.login .center .inner .LoginSub:hover{
	
     transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(67, 97, 238, 0.3);
            border: 2px solid #ffffff;
}


.login .center .inner  .verifycode{
	width:80px;
	height:30px;
	line-height:30px;}

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
.btn {
        position: absolute;
    bottom: 10px;
  
    width:100%;
        height: 40px;
        display: flex;
    justify-content: space-between;
}

@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* 应用动画到图片 */
.floating-img {
  animation: float1 3s ease-in-out infinite;
  
}


    .particle-container {
            position: relative;
          
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
          
            color: white;
        }
        
        .particle {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            pointer-events: none;
            animation: float 15s infinite linear;
        }
        
        @keyframes float {
            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
            }
            100% {
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
            }
        }


         .tab-switcher {
    display: flex;
    /* border-bottom: 1px solid #eee; */
 
  background: #ffffff;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px 20px 0 0;
    font-size: 15px;
    overflow: hidden;
    border-bottom: 0;
       box-shadow: 1px 1px 4px 1px #ffffff, -1px -1px 4px 1px white;
    
        }



            #phone-login::before {
               content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #21caffe8, rgb(245 245 245 / 44%), #190d75d1);
    
    z-index: -1;
    animation: rotateAnimation 3s linear infinite;
        }

             .qrcode-container::before {
               content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #21caffe8, rgb(245 245 245 / 44%), #190d75d1);
    
    z-index: -1;
    animation: rotateAnimation 3s linear infinite;
        }

              .tab-switcher::before {
               content: '';
    position: absolute;
 
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #196e89e8, rgb(0 6 255 / 61%), #1f0ea1d1);
    z-index: -1;
    
        }

                    table::before {
               content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #21caffe8, rgb(245 245 245 / 44%), #190d75d1);
    
    z-index: -1;
    animation: rotateAnimation 3s linear infinite;
        }


            
/* 定义旋转动画 */
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
        .tab {
            flex: 1;
            text-align: center;
            padding: 15px 0;
            cursor: pointer;
            transition: all 0.3s;
            font-weight: 600;
            color: #FFFFFF;
        }
        .tab.active {
                color: #21fff7;
    
    /*border-bottom: 2px solid #4361ee*/
        }

.tab:hover {
    color:wheat;
     transform:translateY(-2px);
}
        .tab-content {
            padding: 30px;
        }


         .qrcode-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
              background: linear-gradient(163deg, #2d5feddb, #091441b5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
              box-shadow: 1px 1px 4px 1px #ffffff, -1px -1px 4px 1px white;
            border-radius: 0 0 20px 20px;
            overflow:hidden
        }
        .qrcode-placeholder {
            width: 180px;
            height: 180px;
            background: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .qrcode-placeholder::after {
            content: "";
            color: #999;
            font-size: 14px;
        }
        .qrcode-tip {
                color: #FFFFFF;
            font-size: 14px;
            text-align: center;
            margin-bottom: 20px;
        }
        .hidden {
            display: none;
        }

         .btn2 {
            width: 80%;
            padding: 12px;
               background: linear-gradient(to right, #00e6f1 0%, #4092db 50%, #92afe1 100%);
            color: white;
             border: 2px solid #ffffff;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
           transition: all 0.3s;
        }
        .btn2:hover {
              transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(67, 97, 238, 0.3);
            border: 2px solid #ffffff;
        }


         .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            margin-bottom: 8px;
               color: #ffffff;
            font-size: 14px;
        }
        .form-group input {
            width: 99%;
            padding: 12px 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 14px;
            transition: border 0.3s;
        }
        .form-group input:focus {
            border-color: #4361ee;
            outline: none;
        }

#phone-login {
    padding: 20px;
    border-radius: 0 0 20px 20px;
     background: linear-gradient(163deg, #2d5feddb, #091441b5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: hidden;
   
    border-top: 0px;
       box-shadow: 1px 1px 4px 1px #ffffff, -1px -1px 4px 1px white;
}




.btn-yzm {
      /* border: none; */
       border: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 40px;
    padding: 0;
    font-size: 15px;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    color: #777777;
    border-left: 0;
    border-radius: 0 10px 10px 0;
    margin-left: -4px;
   background: rgb(255 255 255 / 35%);
}

table tr {
    display: flex;
    width: 400px;
}
table tr td p {
    margin-top: 3px;
}


  /* 涟漪效果样式 */
        .ripple {
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.6);
            transform: scale(0);
            animation: ripple-animation 0.6s linear;
            pointer-events: none;
            z-index: 5;
        }
        
        @keyframes ripple-animation {
            to {
                transform: scale(0.8);
                opacity: 0;
            }
        }


         @keyframes suofang {
               0% {
    transform: scale(1); /* 初始尺寸 */
  }
  50% {
    transform: scale(0.95); /* 中间放大 */
  }
  100% {
    transform: scale(1); /* 最终回到原始尺寸 */
  }
           
        }

            .method-2::before {
    content: '';
    position: absolute;
    top: 59%;
    left: 20%;
    width: 60%;
    height: 28px;
    /*background: linear-gradient(90deg, #6c63ff, #29c4ff);*/
      background:linear-gradient(90deg, #bfbfbfbd, #ffffffd4, #d7d7d78a);
    border-radius: 50% 50% 50% 50%;
    /* transform: translateY(-50%) rotate(-135deg) scaleY(2); */
    filter: blur(2.5px);
    animation: wave 5s ease-in-out infinite;
        }

              .method-3::before {
content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 38%;
    height: 18px;
     background:linear-gradient(90deg, #bfbfbfbd, #ffffffd4, #d7d7d78a);
    border-radius: 50% 50% 50% 50%;
    transform: translateY(-50%) rotate(-135deg) scaleY(2);
    filter: blur(1.8px);
    animation: wave 3s ease-in-out infinite;
        }

                .method-4::before {
    content: '';
    position: absolute;
    top: 70%;
    left: 60%;
    width: 38%;
    height: 18px;
     background:linear-gradient(90deg, #bfbfbfbd, #ffffffd4, #d7d7d78a);
    border-radius: 50% 50% 50% 50%;
    transform: translateY(-50%) rotate(-135deg) scaleY(2);
    filter: blur(1.8px);
    animation: wave 3s ease-in-out infinite;
        }


        
        @keyframes wave {
            0%, 100% { transform: translateY(-50%) rotate(-45deg) scaleY(1); }
            50% { transform: translateY(-50%) rotate(-43deg) scaleY(1.2); }
        }